﻿
@{
    ViewBag.Title = "Pengajian";
}
<style>
    body {
        margin: 0;
        font-family: "Lato", sans-serif;
    }

    div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
    }

    li {
        display: list-item;
    }
</style>
<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
          
        </div>
    </div>
</div>
<div>
    <div class="site-section 1 bg-light" id="contact-section">
        <div class="container">
            <div>
                @foreach (var item in ViewData["detailservis"] as IEnumerable<Tricone.Models.TBL_DETAILSERVIS>)
                {
                <div class="col-lg-12 col-md-12">
                    <h1 class="text-lg-center text-white" style="background-color:slategrey">
                        <b>
                            @item.NAMA_SERVIS
                        </b>
                    </h1>
                    <br />
                    <div class="rounded col-lg-12 text-md-center">
                        <a href="#"><img src="@Url.Content("~/images/"+item.FOTO_DESKRIPSI)" alt="Image" class="img-fluid" style="width:auto; height:400px;"></a>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 mb-5">
                            <div class="row col-12">
                                <p class="text-justify" style="white-space: pre-line">
                                    @item.DESKRIPSI
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

