﻿
@{
    ViewBag.Title = "Index";
}

<style>
    p {
        color: black;
        text-indent: 30px;
        /*text-transform: uppercase;*/
    }
    c {
        color: red;
        text-indent: 0px;
        font-weight: bold;
        /*text-transform: uppercase;*/
    }
    d {
        color: black;
        text-indent: 0px;
        font-weight: bold;
        text-transform: uppercase;
    }
    ol {
        color: black;
        display: block;
        list-style-type: decimal;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0.5em;
        padding-left: 40px;
    }
    b {
        font-weight: bold;
    }

</style>

<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <br />
                    <h1 style="color:white;">
                        <b>
                            TERMS OF SERVICE
                        </b>
                    </h1>
                    <p style="color:white;" class="text-light">
                        THE TERMS OF USE BELOW MUST BE READ BEFORE USING OR ACCESSING THIS SITE. USE OF THIS SITE INDICATES ACCEPTANCE AND COMPLIANCE WITH THE TERMS AND CONDITIONS BELOW.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mr-auto">
                <h2 class="text-md-center"><b>Tricone Travel Term Of Service</b></h2>
                <br />
                <br />
                <div class="text-justify">
                    <p>
                        Please note that we may change, modify, add and delete these Terms at any time without prior notice. Terms must be read regularly. By continuing to use this Site after such changes to the Terms, visitors, users or Registered Users ("you" or "user") agree and agree to the changes.
                        If you use one of our other services, then your use is based on compliance and acceptance of the terms and conditions that apply to that service.
                    </p>
                </div>
                <div class="text-justify">
                    <c>
                        SCOPE OF OUR SERVICE
                    </c>
                    <ol>
                        <li>
                            Through the Site, Tricone Travel provides an online platform so that you can browse various types of transportation airlines, tourist attractions, tour travel packages, as well as make reservations, bookings and / or purchases ("Services").
                            Users can make bookings for services provided by transportation operators, travel agents, and / or other service providers in collaboration with Tricone Travel ("Partners") on the Site.
                            By placing an order through the Site, you will be able to order and / or transport buses or other services on our Site. We will provide a confirmation of your order or purchase via email confirmation. We reserve the right to refuse bookings as set out below.
                        </li>
                        <li>
                            We have the right not to accept any user or booking (or in certain cases cancel booking confirmations) at our sole discretion and for any reason and without providing reasons for rejection / display / cancellation.
                            Reasons for refusing a user or ordering or canceling a booking confirmation may include but is not limited to: violation of these Terms, trade or economic sanctions by global or national authorities, embargoes,
                            regulatory restrictions, fraud or theft (or indications or suspected of fraud or theft), suspected criminal activity, suspicious bookings, services that are not available or no longer provided by the Partner, users provide inaccurate,
                            erroneous or misleading information, problems with electronic credit card communications, information or transactions, inappropriate behavior, threats, insults, refusal to provide information, practical barriers, communication difficulties or breakdowns,
                            manifest errors (hereinafter described below), history of breaches of these Terms or refusals, or inclusion on any "black list" or "watch list" by governments or international organizations. We may remove or delete ("Removed")
                            the membership of this Site user at any time, either temporarily or permanently. Deleted Users are prohibited from trying to use the Site under another name or through other users (hereinafter described in the provisions of the Fraud Prevention Mechanism).
                        </li>
                        <li>
                            In certain cases, we may cancel or reject bookings in respect of "Real Errors", which do not depend on where the error originated. For the avoidance of doubt, Real Errors are mistakes on the Site (for example, in terms of pricing) that no rational person would
                            consider appropriate or make business understandable. The amount charged will be reimbursed without further charge in such a case.
                        </li>
                        <li>
                            Any payment for bookings must be made directly to Tricone Travel's bank account or other payment methods available on the Tricone Travel Site. Tricone Travel is not responsible for bookings if payment is not made directly to the official payment method on Tricone Travel.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        CANCELLATION
                    </c>
                    <ol>
                        <li>
                            In connection with user cancellations that have been made, Tricone Travel may be able to withhold or take part of the amount paid to reimburse costs incurred in connection with the cancellation.
                        </li>
                        <li>
                            By making an order, order or reservation through the Site, you accept and agree to the terms and conditions of the applicable Partner, including those relating to policies regarding cancellation and / or absence, or in connection with your special requests.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        SPECIAL REQUEST
                    </c>
                    <ol>
                        <li>
                            In connection with booking changes (including but not limited to changes to dates, routes and / or passengers) made by users, Tricone Travel has the right to cancel new orders made through the booking change process, if the original order is not valid (including but not limited to,
                            in the event that the bus has been used or returned / refund).
                        </li>
                        <li>
                            In the event of a special request in connection with a booking (for example: wheelchair assistance for persons with disabilities in the bus fleet, name change, change of date and / or schedule, special items required for a tour or equivalent), the user can enter the request when making a booking on the Site (as applicable).
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        TRAVEL ADVICE
                    </c>
                    <ol>
                        <li>
                            You are solely responsible for obtaining, maintaining and providing for demonstration, appropriate and valid travel permits or entry requirements for foreigners (including, but not limited to, visas or other travel permits, whether for transit or other purposes. )
                            applicable to you before you finalize your travel arrangements in accordance with applicable laws in the country of origin, destination, bypass or transit of your journey. Tricone Travel has no obligation and will not be responsible for informing you of the travel
                            arrangements and permits required by you in order to carry out your travel plans. Tricone Travel has the right to limit its liability in the event of any loss or damage arising out of or in connection with your travel permits.
                        </li>
                        <li>
                            Tricone Travel does not represent or warrant that travel to these places is beneficial or risk-free and Tricone Travel will not be held responsible for any damage, accident, death, disability or loss that may result from travel to these destinations. Under no circumstances
                            will Tricone Travel be held responsible for any adverse incidents occurring during your trip or during your stay. You are personally responsible for the selection of trips, routes and travel destinations, for the duration of your journey. Tricone Travel is not responsible for
                            losses incurred when you fail to bring the necessary travel documents, such as your passport, e-ticket, e-voucher, and other things caused by your mistake and / or negligence.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        PRICES AND PROMOTIONS
                    </c>
                    <ol>
                        <li>
                            We may offer lower prices and / or promotions from time to time. Please note that doing so may entail different terms and conditions, for example, in relation to the booking and refund policies.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        ADDITIONAL FEES AND REFUNDS
                    </c>
                    <ol>
                        <li>
                            Each price listed on this Site is only available with certain conditions and the price may change depending on the availability of the order, the length of the order and / or the quota. The available prices may include additional taxes and other fees but in certain circumstances may not include taxes and other service fees
                            (such as tip fees for tour guides, other facilities fees (if any), and other fees incurred not from using the service. we); The user agrees that they are responsible for verifying the total fees payable and other terms and details when a confirmation email is sent to the user. The user must verify the order in the order sheet;
                            the user can cancel the order at any time before the final confirmation is made. Prices displayed are detailed so that users can see the amount to be paid, any additional costs caused by the use of credit cards or inter-bank fees charged for shipping costs will be charged to the user and if there is a shortage in the amount paid,
                            then Tricone Travel can provide notification e-mail regarding shortage in the amount owed by the user. If the user has any doubts about the service, the user can contact Tricone Travel customer service (during the customer service operational hours specified by Tricone Travel). For any other cancellations, Tricone Travel will work
                            with you to return the funds that have been paid, after deducting costs incurred by Tricone Travel, such as bank transfer fees. Refunds may not be immediate depending on the original method of payment. You can contact Tricone Travel customer service for more details on the estimated duration for receiving your refund and we will assist you as best we can.
                        </li>
                        <li>
                            Tricone Travel will not be responsible or liable for any issuance of e-tickets, e-vouchers, or other transactions that are aborted due to the amount transferred inaccurately by the user or payments that are not made through official payment methods available on the Tricone Travel Site. Any transfers made over the transfer deadline
                            will result in the order being canceled. For real-time interbank transfers, you must use an ATM. After completing the wire transfer, please confirm your payment by filling out the payment confirmation form.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        DISCLAIMER
                    </c>
                    <br />
                    <d>
                        YOU HEREBY REPRESENT TO AND AGREE THAT TO THE EXTENT PERMITTED BY APPLICABLE LAW:
                    </d>
                    <ol>
                        <li>
                            THE SERVICES AND CONTENT OF THIS SITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. WE HEREBY STATE EXPRESSLY THAT WE MAKE NO WARRANTIES OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, WITH RESPECT TO THE BUSINESS WORTH OF THE PRODUCTS OR SERVICES, OR THE FITNESS OF THE PRODUCTS AND SERVICES WHICH WE ARE PROVIDING FOR A PARTICULAR PURPOSE. ;
                        </li>
                        <li>
                            WE DO NOT WARRANT THAT: (i) THE FUNCTIONS, SERVICES AND SECURITY FEATURES PROVIDED IN THIS SITE WILL BE UNINTERRUPTED OR ERROR-FREE; (ii) ERRORS OR FAILURES WILL BE CORRECTED; OR (iii) THE SITE OR SERVER PROVIDES SERVICES THAT ARE FREE OF VIRUSES, MALWARE OR DANGEROUS COMPONENTS;
                        </li>
                        <li>
                            WE DO NOT WARRANT THE ACCURACY, AUTHENTICITY, INTEGRITY OR QUALITY OF THE CONTENT, THE SITE OR RESOURCES AVAILABLE TO AND FROM THE SITE INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY THAT THE CONTENT, SITE OR SOURCES ARE FREE OF DEFEAT SOURCES OR CONSTANT, IS NOT LIMITED
                        </li>
                        <li>
                            WE DO NOT WARRANT OR ASSUME THAT YOU WILL BE PROVIDED WITH A TRAVEL LICENSE THAT APPLY TO YOU. WE ARE NOT RESPONSIBLE WHATSOEVER FOR NOTIFYING YOU OR INDEMNIFYING YOU IN IF YOU EXPOSE ANY LOSS OR DAMAGE RELATED TO THE NON-STATEMENT OF A VISA OR TRAVEL PERMISSION (INCLUDING, BUT NOT LIMITED, DEPENDENCE, DEPARTMENT).
                        </li>
                        <li>
                            ANY DOWNLOAD OR OTHER MATERIAL OBTAINED THROUGH THE USE OF THE SERVICE IS AT YOUR SOLE RESPONSIBILITY AND RISK. YOU ASSUME THESE RISKS Voluntarily, AND YOU WILL BE SOLELY RESPONSIBLE FOR DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT OCCURRED BY DOWNLOADING THE PROVIDED MATERIALS.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        LIMITATION OF LIABILITY
                    </c>
                    <ol>
                        <li>
                            WITHOUT PROSPECTION OF WHAT IS REGULATED IN THE TERMS, LIABILITIES OF EACH PARTY ARE LIMITED AND EXCLUDED THE MAXIMUM EXCLUSIVE BY LAW, SUCH AS PERSONAL INJURY AND DEATH. WE WILL NOT BE RESPONSIBLE FOR ANY LINKS OR DAMAGE, WHETHER DIRECT OR INDIRECT, AS A RESULT OF OR CONNECTED TO YOUR USE OF THIS SITE OR USE OF LINKS ON THE SITE, INCLUDING BUT NOT LIMITED TO OR CONCERNING DAMAGES, OR SPECIAL DAMAGES, OTHERS, ALTHOUGH WE HAVE BEEN NOTified ABOUT POSSIBLE LOSSES OR DAMAGES THAT MAY HAVE OCCURRED. THE ONLY REMEDY AVAILABLE TO YOU IS TERMINATION OF USE OF THIS SITE.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        COMPENSATION
                    </c>
                    <ol>
                        <li>
                            You hereby agree to indemnify and not blame Tricone Travel and its employees, affiliates, staff and partners, from and against any and all claims, demands, liabilities, damages or losses including legal costs, arising as a result of third party claims in connection with : (A) your use of the Site; (B) Content provided,
                            provided or accessed through this Site; (C) your violation of these Terms; (D) violation of rights or other obligations; and / or (e) any act or omission by you, whether negligent, illegal or otherwise.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        TERMINATION
                    </c>
                    <ol>
                        <li>
                            Tricone Travel has sole and full discretion to change, postpone, discontinue or stop this Site and / or parts of the Site, including the services or products provided on this Site, and / or use of this Site, or any part thereof, at any time for any reason. without prior notification to you.
                        </li>
                        <li>
                            In the event of termination, you remain bound by the obligations in these Terms, including but not limited to guarantees, compensation, release and limitation of obligations that you have agreed to.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        DISPUTE RESOLUTION
                    </c>
                    <ol>
                        <li>
                            In the event of a dispute arising out of or in connection with these Terms, the Parties will first discuss in good faith to reach an amicable settlement within sixty (60) days from the date of notification of the dispute. However, if the dispute cannot be resolved by deliberation within sixty (60) days,
                            it must be referred to mediation at the Indonesia Mediation Center in accordance with the Mediation Procedures currently in effect.
                            If the dispute remains unresolved, it will be submitted to the exclusive jurisdiction of the courts of the Republic of Indonesia.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        DATA USE POLICY
                    </c>
                    <ol>
                        <li>
                            We consider your privacy to be important.
                        </li>
                        <li>
                            When you make a booking on the Tricone Travel site, we will record and store your personal information and data. In principle, we will use your data to provide products and provide services to you.
                            We will store any data that you provide, from time to time, or that we collect from using our products and services. We can use your personal data with us for accounting, billing, auditing,
                            credit or payment verification, as well as security, administrative and legal purposes, testing, system maintenance and development, customer relations, promotions, and helping us in the future in give service to you.
                            In this connection, we may disclose your data to group companies in which Tricone Travel.com is incorporated, Product provider partners, other companies that are partners of the Tricone Travel site, data processing companies
                            that are contractually bound with us, travel agents, government agencies and competent judiciary, in any jurisdiction.
                        </li>
                    </ol>
                </div>
                <div class="text-justify">
                    <c>
                        FORCE MAJEURE
                    </c>
                    <ol>
                        <li>
                            Tricone Travel will not be responsible for any non-performance or violation of these Terms, such as failure of a transaction, limited access to the Site, or any damage or harm to users caused by any action or condition
                            beyond the reasonable control of either You or Us ("Force Majeure Event"). Force Majeure events include but are not limited to natural disasters (floods, earthquakes), epidemics, riots, declarations of war, war, military actions,
                            terrorist acts, embargoes, sanctions, changes in laws or regulations, lightning, storms / typhoons / cyclones , strikes, demonstrations, bankruptcy or bankruptcy of bus operator partners, and so on.
                        </li>
                        <li>
                            Tricone Travel will not be responsible for any damage or loss caused in any way to any party if Tricone Travel is unable to process your order due to the Force Majeure Event.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
