﻿﻿@model Tricone.Models.MS_SUPIR
@{
    Layout = null;
}
@using (Html.BeginForm("AddorEdit", "Supir", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID_SUPIR)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Driver Name<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.NAMA_SUPIR, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Driver Name" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA_SUPIR)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Address<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.ALAMAT, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Address" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ALAMAT)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Number Phone<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.NO_TELEPON, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Number Phone" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.NO_TELEPON)</span>
        </div>
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}
