﻿@model Tricone.Models.TBL_HARGA

@{
    Layout = null;
}


@using (Html.BeginForm("AddorEdit", "harga", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID_HARGA)
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-12">
                <label class="control-label">Vehicle Name<span style="color:red;"> *</span></label>
                <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_KENDARAAN)</span>
                @Html.DropDownListFor(Model => Model.ID_KENDARAAN, new SelectList(Model.kendcollection, "ID_KENDARAAN", "NAMA_KENDARAAN"), "Select Vehicle", new { @class = "form-control select2" })
            </div>
            <div class="col-md-12">
                <label class="control-label">City Name<span style="color:red;"> *</span></label>
                <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_KOTA)</span>
                @Html.DropDownListFor(Model => Model.ID_KOTA, new SelectList(Model.kotacollection, "ID_KOTA", "NAMA_KOTA"), "Select City", new { @class = "form-control select2" })
            </div>
            <div class="col-md-12">
                <label class="control-label">Duration<span style="color:red;"> *</span></label>
                @Html.EditorFor(model => model.DURASI, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Duration" } })
                <span style="color:red;">@Html.ValidationMessageFor(model => model.DURASI)</span>
            </div>
            <div class="col-md-12">
                <label class="control-label">Price<span style="color:red;"> *</span></label>
                @Html.EditorFor(model => model.HARGA, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Price" } })
                <span style="color:red;">@Html.ValidationMessageFor(model => model.HARGA)</span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}


