﻿
@{
    ViewBag.Title = "BigBus";
}

<style>
    body {
        margin: 0;
        font-family: "Lato", sans-serif;
    }

    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: absolute;
        height: 100%;
        overflow: auto;
    }

        .sidebar a {
            display: block;
            color: black;
            padding: 16px;
            text-decoration: none;
        }

            .sidebar a.active {
                background-color: #4CAF50;
                color: white;
            }

            .sidebar a:hover:not(.active) {
                background-color: #555;
                color: white;
            }

    div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
    }
</style>


<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <br />
                    <h1 style="color:white;">VEHICLE DETAILS</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="site-section bg-light" id="contact-section">
        <div class="container">
            <div>
                <div class="sidebar ">
                    <a href="@Url.Action("Index", "DetailKendaraan")">All Vehicle</a>
                    <a href="@Url.Action("Shuttle", "DetailKendaraan")">Shuttle</a>
                    <a href="@Url.Action("MediumBus", "DetailKendaraan")">Medium Bus</a>
                    <a class="active" href="@Url.Action("BigBus", "DetailKendaraan")">Big Bus</a>
                </div>

                @foreach (var item in ViewData["detailkendaraan"] as IEnumerable<Tricone.Models.MS_KENDARAAN>)
                {
                    <div class="content">
                        <div class="row align-items-stretch">
                            <div class="col-lg-12 col-md-12 ml-lg-5">
                                <h1 class="text-lg-center text-white" style="background-color:slategrey">
                                    <b>
                                        @item.MS_JENIS_KENDARAAN.NAMA_KENDARAAN
                                    </b>
                                </h1>
                                <br />
                                <div class="row">
                                    <div class="col-lg-7 mb-5">
                                        <div class="row col-12">
                                            <p class="text-justify" style="white-space: pre-line">
                                                @item.DESKRIPSI
                                            </p>

                                            <div>
                                                <h1 class="text-lg-center text-white" style="background-color:slategrey">
                                                    <b>
                                                        Facilities
                                                    </b>
                                                </h1>
                                                <ul class="text-lg-left" style="white-space: pre-line">
                                                    @item.FASILITAS
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rounded col-lg-5 ml-auto">
                                        <a href="#"><img src="@Url.Content("~/images/"+item.pathFoto)" alt="Image" class="img-fluid" style="width:300px; height:300px;"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
    </div>
</div>
