﻿@model IEnumerable<Tricone.Models.MS_KENDARAAN>
@{
    ViewBag.Title = "Index";
}
<style>
    body {
        margin: 0;
        font-family: "Lato", sans-serif;
    }

    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: absolute;
        height: 100%;
        overflow: auto;
    }

        .sidebar a {
            display: block;
            color: black;
            padding: 16px;
            text-decoration: none;
        }

            .sidebar a.active {
                background-color: #4CAF50;
                color: white;
            }

            .sidebar a:hover:not(.active) {
                background-color: #555;
                color: white;
            }

    div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
    }
</style>


<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <br />
                    <h1 style="color:white;">VEHICLE DETAILS</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="site-section bg-light" id="contact-section">
        <div class="container">
            @*<div class="row justify-content-center text-center">
                    <div class="col-7 text-center mb-5">
                        <h1>Testimonial User</h1>
                        <p>
                            Please give your testimonial after using the tricone travel service
                        </p>
                    </div>
                </div>*@
            <div>
                <div class="sidebar">
                    <a class="active" href="@Url.Action("Index", "DetailKendaraan")">All Vehicle</a>
                    <a href="@Url.Action("Shuttle", "DetailKendaraan")">Shuttle</a>
                    <a href="@Url.Action("MediumBus", "DetailKendaraan")">Medium Bus</a>
                    <a href="@Url.Action("BigBus", "DetailKendaraan")">Big Bus</a>
                </div>
                
                <div class="content">
                    <h1 class="text-lg-center text-white" style="background-color:slategrey">
                        <b>
                            ALL VEHICLE
                        </b>
                    </h1>
                    <br />
                    <div class="row align-items-stretch">
                        <div class="col-lg-4 col-md-6 mb-5">
                            <div class="rounded">
                                <a href='@Url.Action("Shuttle", "DetailKendaraan")'>
                                    <img src="@Url.Content("~/images/elf120210112160835035.PNG")" alt="Alps"
                                         class="img-fluid img-thumbnail" style="width: 500px; height: 200px;">
                                </a>
                                <div class="post-entry-1-contents text-xl-center">
                                    <br />
                                    <h2><b>SHUTTLE</b></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-5">
                            <div class="rounded">
                                <a href='@Url.Action("MediumBus", "DetailKendaraan")'>
                                    <img src="@Url.Content("~/images/Bus Megati Medium120210119093737205.JPG")" alt="Alps"
                                         class="img-fluid img-thumbnail" style="width: 500px; height: 200px;">
                                </a>
                                <div class="post-entry-1-contents text-xl-center">
                                    <br />
                                    <h2><b>MEDIUM BUS</b></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-5">
                            <div class="rounded">
                                <a href='@Url.Action("BigBus", "DetailKendaraan")'>
                                    <img src="@Url.Content("~/images/blue-star20210119093751227.PNG")" alt="Alps"
                                         class="img-fluid img-thumbnail" style="width: 500px; height: 200px;">
                                </a>
                                <div class="post-entry-1-contents text-xl-center">
                                    <br />
                                    <h2><b>BIG BUS</b></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
