﻿@model IEnumerable<Tricone.Models.TBL_EROR_LOG>
@{
    ViewBag.Title = "Index";
}
<link href="~/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Audit Trail
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-database"></i> Master Audit</a></li>
            <li class="active">Vehicle</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style='text-align: center;'>
                                        ID USER
                                    </th>
                                    <th style='text-align: center;'>
                                        ERROR TIME
                                    </th>
                                    <th style='text-align: center;'>
                                        ERROR TRACE
                                    </th>
                                    <th style='text-align: center;'>
                                        ERROR DESCRIPTION
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/plugins/select2/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script type="text/javascript">
        var Popup, dataTable;
        $(document).ready(function () {
            datatable = $('#example1').DataTable({
                "ajax": {
                    "url": "@Url.Action("Getdata", "LogError")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID_USER" },
                    {
                        "data": "EROR_TIME", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY HH:mm:ss");
                        }
                    },
                    { "data": "EROR_LINE" },
                    { "data": "EROR_DESCRIPTION" }
                ], "order": [],
                "language": {
                    "emptyTable":"No Data Found, Please click on <b>Create New</b> Button"
                }
            });
        });
    </script>
}

