﻿
@{
    ViewBag.Title = "Index";
}

        <div class="ftco-blocks-cover-1">
            <div class="ftco-cover-1 overlay innerpage" style="background-image: url('images/hero_2.jpg')">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h1>Our For Rent Cars</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="item-1">
                            <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href="#">Range Rover S64 Coupe</a></h3>
                                    <div class="rating">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                    </div>
                                    <div class="rent-price"><span>$250/</span>day</div>
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Doors</span>
                                        <span class="spec">4</span>
                                    </li>
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">5</span>
                                    </li>
                                    <li>
                                        <span>Transmission</span>
                                        <span class="spec">Automatic</span>
                                    </li>
                                    <li>
                                        <span>Minium age</span>
                                        <span class="spec">18 years</span>
                                    </li>
                                </ul>
                                <div class="d-flex action">
                                    <a href="contact.html" class="btn btn-primary">Rent Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="item-1">
                            <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href="#">Range Rover S64 Coupe</a></h3>
                                    <div class="rating">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                    </div>
                                    <div class="rent-price"><span>$250/</span>day</div>
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Doors</span>
                                        <span class="spec">4</span>
                                    </li>
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">5</span>
                                    </li>
                                    <li>
                                        <span>Transmission</span>
                                        <span class="spec">Automatic</span>
                                    </li>
                                    <li>
                                        <span>Minium age</span>
                                        <span class="spec">18 years</span>
                                    </li>
                                </ul>
                                <div class="d-flex action">
                                    <a href="contact.html" class="btn btn-primary">Rent Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="item-1">
                            <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href="#">Range Rover S64 Coupe</a></h3>
                                    <div class="rating">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                    </div>
                                    <div class="rent-price"><span>$250/</span>day</div>
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Doors</span>
                                        <span class="spec">4</span>
                                    </li>
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">5</span>
                                    </li>
                                    <li>
                                        <span>Transmission</span>
                                        <span class="spec">Automatic</span>
                                    </li>
                                    <li>
                                        <span>Minium age</span>
                                        <span class="spec">18 years</span>
                                    </li>
                                </ul>
                                <div class="d-flex action">
                                    <a href="contact.html" class="btn btn-primary">Rent Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="item-1">
                            <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href="#">Range Rover S64 Coupe</a></h3>
                                    <div class="rating">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                    </div>
                                    <div class="rent-price"><span>$250/</span>day</div>
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Doors</span>
                                        <span class="spec">4</span>
                                    </li>
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">5</span>
                                    </li>
                                    <li>
                                        <span>Transmission</span>
                                        <span class="spec">Automatic</span>
                                    </li>
                                    <li>
                                        <span>Minium age</span>
                                        <span class="spec">18 years</span>
                                    </li>
                                </ul>
                                <div class="d-flex action">
                                    <a href="contact.html" class="btn btn-primary">Rent Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="item-1">
                            <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href="#">Range Rover S64 Coupe</a></h3>
                                    <div class="rating">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                    </div>
                                    <div class="rent-price"><span>$250/</span>day</div>
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Doors</span>
                                        <span class="spec">4</span>
                                    </li>
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">5</span>
                                    </li>
                                    <li>
                                        <span>Transmission</span>
                                        <span class="spec">Automatic</span>
                                    </li>
                                    <li>
                                        <span>Minium age</span>
                                        <span class="spec">18 years</span>
                                    </li>
                                </ul>
                                <div class="d-flex action">
                                    <a href="contact.html" class="btn btn-primary">Rent Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="item-1">
                            <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href="#">Range Rover S64 Coupe</a></h3>
                                    <div class="rating">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                    </div>
                                    <div class="rent-price"><span>$250/</span>day</div>
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Doors</span>
                                        <span class="spec">4</span>
                                    </li>
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">5</span>
                                    </li>
                                    <li>
                                        <span>Transmission</span>
                                        <span class="spec">Automatic</span>
                                    </li>
                                    <li>
                                        <span>Minium age</span>
                                        <span class="spec">18 years</span>
                                    </li>
                                </ul>
                                <div class="d-flex action">
                                    <a href="contact.html" class="btn btn-primary">Rent Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <span class="p-3">1</span>
                        <a href="#" class="p-3">2</a>
                        <a href="#" class="p-3">3</a>
                        <a href="#" class="p-3">4</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container site-section mb-5">
            <div class="row justify-content-center text-center">
                <div class="col-7 text-center mb-5">
                    <h2>How it works</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</p>
                </div>
            </div>
            <div class="how-it-works d-flex">
                <div class="step">
                    <span class="number"><span>01</span></span>
                    <span class="caption">Time &amp; Place</span>
                </div>
                <div class="step">
                    <span class="number"><span>02</span></span>
                    <span class="caption">Car</span>
                </div>
                <div class="step">
                    <span class="number"><span>03</span></span>
                    <span class="caption">Details</span>
                </div>
                <div class="step">
                    <span class="number"><span>04</span></span>
                    <span class="caption">Checkout</span>
                </div>
                <div class="step">
                    <span class="number"><span>05</span></span>
                    <span class="caption">Done</span>
                </div>
            </div>
        </div>

