﻿@model IEnumerable<Tricone.Models.TBL_HARGA>
@{
    ViewBag.Title = "Index";
}
<link href="~/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />

<!-- Content Wrapper. Contains page content -->
<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('@Url.Content("~/images/bushd.jpg")')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Contact Us</h1>
                    <p>
                        If you have questions, suggestions and need more information, please fill out the form below
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
    <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style='text-align: center;'>
                                        Vehcile Name
                                    </th>
                                    <th style='text-align: center;'>
                                        City Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Duration (Day)
                                    </th>
                                    <th style='text-align: center;'>
                                        Price (Rp.)
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/plugins/select2/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script type="text/javascript">

        var Popup, dataTable;
        $(document).ready(function () {
            datatable = $('#example1').DataTable({
                "ajax": {
                    "url": "/harga/Getdata",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "NAMA_KENDARAAN" },
                    { "data": "NAMA_KOTA" },
                    { "data": "DURASI" },
                    { "data": "HARGA",
                        render: $.fn.dataTable.render.number('\.', '.', 0, 'Rp.', '')
                    }
                ], "order": [],
                "language": {
                    "emptyTable":"No Data Found, Please click on <b>Create New</b> Button"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Price Details',
                    height: 500,
                    width: 500,
                    open: function () {
                        if ($.ui && $.ui.dialog && !$.ui.dialog.prototype._allowInteractionRemapped && $(this).closest(".ui-dialog").length) {
                            if ($.ui.dialog.prototype._allowInteraction) {
                                $.ui.dialog.prototype._allowInteraction = function (e) {
                                    if ($(e.target).closest('.select2-drop').length) return true;
                                    return ui_dialog_interaction.apply(this, arguments);
                                };
                                $.ui.dialog.prototype._allowInteractionRemapped = true;
                            }
                            else {
                                $.error("You must upgrade jQuery UI or else.");
                            }
                        }
                    },
                    _allowInteraction: function (event) {
                        return !!$(event.target).is(".select2-input") || this._super(event);
                    },
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
                $(".select2").select2();
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formData = new FormData($(form)[0]);
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            datatable.ajax.reload(null, false);

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className : "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if (confirm('Are you sure to delete ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "harga")/' + id,
                    success: function (data) {
                        if (data.success) {
                            datatable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "bottom center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }
    </script>
}

