﻿@model Tricone.Models.MS_KOTA

@{
    Layout = null;
}

@using (Html.BeginForm("AddorEdit", "kota", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID_KOTA)
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Province Name<span style="color:red;"> *</span></label>
                <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_PROVINSI)</span>
                @Html.DropDownListFor(Model => Model.ID_PROVINSI, new SelectList(Model.provcollection, "ID_PROVINSI", "NAMA_PROVINSI"), "Select Province", new { @class = "form-control select2" })
            </div><!-- /.form-group -->
            <div class="form-group">
                <label class="control-label">City Name<span style="color:red;"> *</span></label>
                @Html.EditorFor(model => model.NAMA_KOTA, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Nama" } })
                <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA_KOTA)</span>
            </div>
        </div>
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}

