﻿@model Tricone.Models.MS_HARILIBUR

@{
    Layout = null;
}

@using (Html.BeginForm("AddorEdit", "harilibur", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID_HARILIBUR)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Day Off Name<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.NAMA_HARILIBUR, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Name" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA_HARILIBUR)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Start Date<span style="color:red;"> *</span></label>
            <i class="fa fa-calendar icon"></i>
            @Html.EditorFor(model => model.STARTDATE, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Start Date" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.STARTDATE)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">End Date<span style="color:red;"> *</span></label>
            <i class="fa fa-calendar icon"></i>
            @Html.EditorFor(model => model.ENDDATE, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "End Date" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ENDDATE)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">UP PRICE (%)<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.PERSEN_LIBUR, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "UP PRICE (%)" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.PERSEN_LIBUR)</span>
        </div>
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>

}
<script>
    $(document).ready(function () {
        $("#STARTDATE").datepicker({
            numberOfMonths: 2,
            dateFormat: "yy-mm-dd",
            minDate: 0,
            maxDate: new Date($("#ENDDATE").val()), 
            onClose: function (selected) {
                $("#ENDDATE").datepicker("option", "minDate", selected);
            }
        });
        $("#ENDDATE").datepicker({
            numberOfMonths: 2,
            dateFormat: "yy-mm-dd",
            minDate: new Date($("#STARTDATE").val()), 
            onClose: function (selected) {
                $("#STARTDATE").datepicker("option", "maxDate", selected);
            }
        });
    });
</script>
