﻿@model Tricone.Models.kontak

@{
    ViewBag.Title = "Index";
}

<style>
    address {
        display: block;
        font-style: italic;
    }
    dl {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
    }
    dd {
        display: block;
        margin-left: 40px;
    }

</style>

  <div class="ftco-blocks-cover-1">
      <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
          <div class="container">
              <div class="row align-items-center justify-content-center">
                  <div class="col-lg-6 text-center">
                      <br />
                      <br />
                      <h1 style="color:white;">Contact Us</h1>
                      <h4 class="text-md" style="color:white;">If you have questions, suggestions and need more information, please fill out the form below</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div class="site-section bg-light" id="contact-section">
    @*<i class="fa fa-map-marker fa-lg icon" style="margin-right:9px;"></i>*@<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126918.05155063244!2d106.9343211764234!3d-6.238788121585205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698dc614dadd45%3A0x37f5df200386910d!2sTour%20%26%20Travel!5e0!3m2!1sid!2sid!4v1610019294254!5m2!1sid!2sid" width="2000" height="400" frameborder="0" style="border:0;" allowfullscreen aria-hidden="false" tabindex="0" target="_blank"></iframe>
</div>
<!--<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->

<div>
    <div class="site-section bg-light" id="contact-section">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-7 text-center mb-5">
                    <h2>
                        Contact Us Or Use This Form To Ask For More Information
                    </h2>
                    @* <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</p>*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mb-5">
                    @using (Html.BeginForm("Index", "Contact", FormMethod.Post))
                    {
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">From<span style="color:red;"> *</span></label>
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.From)</span>
                                @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Email" } })
                            </div>
                            <div class="form-group">
                                <label class="control-label">Subject<span style="color:red;"> *</span></label>
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.Subject)</span>
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Subject" } })
                            </div>
                            <div class="form-group">
                                <label asp-for="Message">Message<span style="color:red;"> *</span></label>
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.Message)</span>
                                <textarea rows="5" cols="15" asp-for="Message" class="form-control" id="message" name="message"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">Send</button>
                            </div>
                        </div>
                        <br />
                        <span style="color:green">@ViewBag.Message</span>
                    }
                </div>
                <div class="col-lg-4 ml-auto">
                    <div class="bg-white p-3 p-md-5">
                        <h3 class="text-black mb-4">Contact Info</h3>
                        <ul class="list-unstyled footer-link">
                            <li class="d-block mb-3">
                                <span class="d-block text-black">Address:</span>
                                <address>Ruko Taman Medical Estate Blok F No. 3. Pondok Kepala Duren Sawit. East Jakarta.</address>
                            </li>
                            <li class="d-block mb-3"><span class="d-block text-black">Phone:</span><span>082 226 245 078</span></li>
                            <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>triconetravel@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

