﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "DetailPemesanan";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="text-center">
            REPORT
        </h1>
        <h1 class="text-center">
            LIST DETAIL ORDER
        </h1>
    </section>
    <br />
    <div class="container">
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
    </div>
</div>

