﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "Kendaraan";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            LIST VEHICLE REPORT
        </h1>
    </section>
    <br />
    <div class="container color-black-opacity-5">
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
    </div>
</div>