﻿<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Master Data Testimonial
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-database"></i> Master Data</a></li>
            <li class="active">Testimonial</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        @*<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddorEdit","testimoni")')"><i class="fa fa-plus"></i> Create New</a>*@
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style='text-align: center;'>
                                        Email Sender
                                    </th>
                                    <th style='text-align: center;'>
                                        Sender Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Subject
                                    </th>
                                    <th style='text-align: center;'>
                                        Message
                                    </th>
                                    <th style='text-align: center;'>
                                        Status
                                    </th>
                                    <th style='text-align: center;'>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script type="text/javascript">
        var Popup, dataTable;
        $(document).ready(function () {
            datatable = $('#example1').DataTable({
                "ajax": {
                    "url": "@Url.Action("Getdata", "testimoniadmin")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "EMAIL_FROM" },
                    { "data": "NAMA" },
                    { "data": "SUBJECT" },
                    { "data": "MESSAGE" },
                    {
                        "data": "STATUS", render: function (data) {
                            var stat = '';
                            if (data == 1) {
                                stat = 'Active';
                            } else if (data == 0) {
                                stat = 'In Active';
                            }
                            return stat;
                        }
                    },
                    {
                        "data": "ID_TESTIMONI", "render": function (data, type, row) {
                            if (row.STATUS === 1) {
                                return "<div style= 'text-align: center;'><a class='btn btn-danger btn-sm' onclick='Updatenih(\"" + data + "\")'><i class='fa fa-bell-slash-o'></i> Deactivate</a></div>";
                            } else {
                                return "<div style= 'text-align: center;'><a class='btn btn-primary btn-sm' onclick='Updatenih(\"" + data + "\")'><i class='fa fa-bell-o'></i> Activate</a></div>";
                            }
                        },
                        "orderable": false,
                        "width": "150px"
                    }
                ],
                "order": [],
                "language": {
                    "emptyTable":"No Data Found, Please click on <b>Create New</b> Button"
                }
            });
        });

        function Menage1( id ) {
            var url = '@Url.Action("TurnOnOff", "TestimoniAdmin", new { id = "__id__" })';
            window.location.href = url.replace('__id__', id);
        }

        function Updatenih(id) {
            if (confirm('Are you sure to convert ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("TurnOnOff", "TestimoniAdmin")/' + id,
                    success: function (data) {
                        if (data.success) {
                            datatable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }
    </script>
}


