﻿@model Tricone.Models.TBL_TESTIMONI
@{
    ViewBag.Title = "Testimoni";
}

<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")')">
    </div>
</div>

<div>
    <div class="site-section bg-light" id="contact-section">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-7 text-center mb-5">
                    <h1>Testimonial User</h1>
                    <p>
                        Please give your review after using the services of Tricone Travel
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    @using (Html.BeginForm("Testimoni", "testimoniadmin", FormMethod.Post))
                    {
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">From<span style="color:red;"> *</span></label>
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.EMAIL_FROM)</span>
                                @Html.EditorFor(model => model.EMAIL_FROM, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Email" } })
                            </div>
                            <div class="form-group">
                                <label class="control-label">Your Name<span style="color:red;"> *</span></label>
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA)</span>
                                @Html.EditorFor(model => model.NAMA, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Your Name" } })
                            </div>
                            <div class="form-group">
                                <label class="control-label">Subject<span style="color:red;"> *</span></label>
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.SUBJECT)</span>
                                @Html.EditorFor(model => model.SUBJECT, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Subject" } })
                            </div>
                            <div class="form-group">
                                <label asp-for="Message">Message<span style="color:red;"> *</span></label>
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.MESSAGE)</span>
                                <textarea rows="5" cols="15" asp-for="MESSAGE" class="form-control" id="MESSAGE" name="MESSAGE"></textarea>
                            </div>
                            @*<div>
                                <input type="checkbox" id="allow">
                                <label for="allow"> I allow my testimoni to be publish on your website</label><br>
                            </div>*@
                            <br />
                            <div>
                                <button type="submit" class="btn btn-success">Send</button>
                            </div>
                        </div>
                        <br />
                        <span style="color:green">@ViewBag.Message</span>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
