﻿@model Tricone.Models.MS_JENIS_KENDARAAN
@{
    Layout = null;
}


@using (Html.BeginForm("AddorEdit", "jeniskendaraan", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID_JENIS_KENDARAAN)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Vehicle Type<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.NAMA_KENDARAAN, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Nama" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA_KENDARAAN)</span>
        </div>
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}

