﻿@model Tricone.Models.TBL_REFUND
<style>
    body {
        background-color: #dadde6;
        font-family: arial
    }
</style>
<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <h1 style="color:white;">Refund Form</h1>
                    <p style="color:white;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section container">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("addrefund", "RefundUser", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="card bg-info text-white">
                            <div class="row">
                                <div class="card-body" style="text-align:center;">
                                    Fill Your Refund Request
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Your Date Transaction<span style="color:red;"> *</span></label>
                            <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_TRANSAKSI)</span>
                            @Html.DropDownListFor(Model => Model.ID_TRANSAKSI, new SelectList((from c in Model.transcollection.ToList() where c.STATUS_TRANSAKSI == 1 && c.APPROVAL==4 && c.ID_MEMBER==Convert.ToInt32(Session["ID_MEMBER"]) && (c.STATUS_REFUND==0 || c.STATUS_REFUND == null) select new { nama_trx = string.Format("{0:dddd dd/MMMM/yyyy}", c.TGL_PERGI) + " - " + c.NAMA_KOTA, ID_TRANSAKSI = c.ID_TRANSAKSI }), "ID_TRANSAKSI", "nama_trx"), "Select Transaction", new { @class = "form-control", @id = "ID_TRANSAKSI" })
                        </div>
                    </div>
                    <div id="coba"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Your Bank Account<span style="color:red;"> *</span></label>
                            <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_BANK)</span>
                            @Html.DropDownListFor(Model => Model.ID_BANK, new SelectList(Model.bankcollection, "ID_BANK", "NAMA_BANK"), "Select Bank", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Account Number<span style="color:red;"> *</span></label>
                            @Html.ValidationMessageFor(model => model.NOMOR_REKENING, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.NOMOR_REKENING, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "1", @value = "0" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Account Name<span style="color:red;"> *</span></label>
                            @Html.ValidationMessageFor(model => model.NAMA_REKENING, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.NAMA_REKENING, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Reason<span style="color:red;"> *</span></label>
                            @Html.ValidationMessageFor(model => model.KETERANGANUSER, "", new { @class = "text-danger" })
                            @Html.TextAreaFor(model => model.KETERANGANUSER, 3, 40, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Create Request" class="btn btn-outline-success" />
                            <a href="@Url.Action("Index", "RefundUser")" type="button" class="btn btn-outline-info">Cancel</a>
                        </div>
                    </div>
                </div>
            }

            <div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>
        $(function () {
            $("#ID_TRANSAKSI").change(function () {
                var id_tranks = parseInt(this.value);
                $.ajax({  
                    type: "GET",  
                    url: "@Url.Action("cekpengembalian", "RefundUser")",
                    data: { "id_trans": id_tranks },
                    success: function (data) {
                        console.log(data);
                        data = JSON.parse(data);
                        console.log(data);
                        $("#coba").html("<div class='form-group'><div class= 'col-md-12'><div class='card bg-danger text-white'><div class='row'><div class='card-body' style='text-align:center;'>" + data + "</div></div></div></div></div>");
                    },  
                    error: function () {  
                        alert("Please Select Transaction");  
                    }  
                });  
                return false;
            });
        });
    </script>
}