﻿@model Tricone.Models.v_detail_pesan

<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <h1 style="color:white;">Your Detail Schedule</h1>
                    <p style="color:white;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


<div class="site-section container">
    <div style="margin-bottom:5px;">
        <a href="@Url.Action("index", "RefundUser")" type="button" class="btn btn-outline-primary btn-xs"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <hr />
    <input type="hidden" name="trans" id="trans" value="@ViewBag.id_trans" />
    <table class="table table-bordered table-striped" id="example">
        <thead>
            <tr>
                <th style='text-align: center;'>
                    Member Name
                </th>
                <th style='text-align: center;'>
                    Vehicle Name
                </th>
                <th style='text-align: center;'>
                    Price
                </th>
                <th style='text-align: center;'>
                    Day Off Name
                </th>
                <th style='text-align: center;'>
                    Start Date
                </th>
                <th style='text-align: center;'>
                    End Date
                </th>
                <th style='text-align: center;'>
                    City Name
                </th>
                <th style='text-align: center;'>
                    Total Vehicle
                </th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            var id_trans = $('#trans').val();
            datatable = $('#example').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetdataDetail", "RefundUser")",
                    "type": "GET",
                    "data": { id_trans },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "nama_member" },
                    { "data": "nama_kendaraan" },
                    { "data": "harga" },
                    { "data": "nama_harilibur" },
                    {
                        "data": "tgl_pergi", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "tgl_pulang", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    { "data": "nama_kota" },
                    { "data": "quantity_kendaraan" }
                ], "order": [],
                "language": {
                    "emptyTable":"No Data Found, Please click on <b>Create New</b> Button"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Comfirm Payment',
                    height: 200,
                    width: 500,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formData = new FormData($(form)[0]);
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            datatable.ajax.reload(null, false);

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }
    </script>
}
