﻿@model Tricone.Models.MS_KENDARAAN

@{
    Layout = null;
}


@using (Html.BeginForm("AddorEdit", "kendaraan", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ID_KENDARAAN)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Vehicle Type<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_JENIS_KENDARAAN)</span>
            @Html.DropDownListFor(Model => Model.ID_JENIS_KENDARAAN, new SelectList(Model.kendcollection, "ID_JENIS_KENDARAAN", "NAMA_KENDARAAN"), "Select Vehicle", new { @class = "form-control select2" })
        </div>
    </div><!-- /.form-group -->
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Total Seat<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.JUMLAH_SEAT, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Total Seat" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.JUMLAH_SEAT)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Total Vehicle<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.JUMLAH_KENDARAAN, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Total Vehicle" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.JUMLAH_KENDARAAN)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label asp-for="Message">Description<span style="color:red;"> *</span></label>
            @Html.TextAreaFor(model => model.DESKRIPSI, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Description", cols = 35, @rows = 3} })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.DESKRIPSI)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Facilities<span style="color:red;"> *</span></label>
            @Html.TextAreaFor(model => model.FASILITAS, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Facilities", cols = 35, @rows = 3 } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.FASILITAS)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="@(Model.ID_KENDARAAN != 0 ? "col-md-8" : "col-md-12")">
            <label class="control-label">Image<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.pathFoto)</span>
            <div class="form-control col-md-12">
                <input type="file" name="filebase" @(Model.ID_KENDARAAN == 0 ? "required" : "") />
            </div>
        </div>
        @if (Model.ID_KENDARAAN != 0)
        {
            @Html.HiddenFor(model => model.pathFoto)
            <div class="col-md-4" style="margin-top:10px;">
                <img src="@Url.Content("~/images/"+Model.pathFoto)" width="100" height="100" />
            </div>
        }
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Status<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.STATUS)</span>
            @Html.DropDownList("STATUS", new List<SelectListItem>
            {
                new SelectListItem{ Text="Select Status", Value = "" },
                new SelectListItem{ Text="Active", Value = "1" },
                new SelectListItem{ Text="Inactive", Value = "0" },
             }, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}

