﻿@model IEnumerable<Tricone.Models.MS_KENDARAAN>
@{
    ViewBag.Title = "Index";
}
<link href="~/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Master Data Vehicle
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-database"></i> Master Data</a></li>
            <li class="active">Vehicle</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddorEdit","kendaraan")')"><i class="fa fa-plus"></i> Create New</a>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style='text-align: center;'>
                                        Vehcile Type
                                    </th>
                                    <th style='text-align: center;'>
                                        Total Seat
                                    </th>
                                    <th style='text-align: center;'>
                                        Total Vehicle
                                    </th>
                                    <th style='text-align: center;'>
                                        Deskripsi
                                    </th>
                                    <th style='text-align: center;'>
                                        Facilities
                                    </th>
                                    <th style='text-align: center;'>
                                        Image
                                    </th>
                                    <th style='text-align: center;'>
                                        Status
                                    </th>
                                    <th style='text-align: center;'>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/plugins/select2/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script type="text/javascript">

        var Popup, dataTable;
        $(document).ready(function () {
            datatable = $('#example1').DataTable({
                "ajax": {
                    "url": "@Url.Action("Getdata", "kendaraan")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "NAMA_KENDARAAN" },
                    { "data": "JUMLAH_SEAT" },
                    { "data": "JUMLAH_KENDARAAN" },
                    { "data": "DESKRIPSI" },
                    { "data": "fasilitas" },
                    {
                        "data": "pathFoto", "render": function (data) {
                            var ROOT = '@Url.Content("~/images/")';
                            return "<div style='text-align:center;'><img src='" + ROOT + data +"' width='80' height='80' class='img-rounded'/></div>";
                        }
                    },
                    { "data": "STATUS", render: function (data) {return data == '0' ? 'In Active' : 'Active';}},
                    {
                        "data": "ID_KENDARAAN", "render": function (data) {
                            return "<div style= 'text-align: center;'><a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit", "kendaraan")/" + data + "')><i class='fa fa-pencil'></i> Edit</a></div> "
                        },
                        "orderable": false,
                        "width":"150px"
                    }
                ], "order": [],
                "language": {
                    "emptyTable":"No Data Found, Please click on <b>Create New</b> Button"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Vehicle Details',
                    height: 700,
                    width: 500,
                    open: function () {
                        if ($.ui && $.ui.dialog && !$.ui.dialog.prototype._allowInteractionRemapped && $(this).closest(".ui-dialog").length) {
                            if ($.ui.dialog.prototype._allowInteraction) {
                                $.ui.dialog.prototype._allowInteraction = function (e) {
                                    if ($(e.target).closest('.select2-drop').length) return true;
                                    return ui_dialog_interaction.apply(this, arguments);
                                };
                                $.ui.dialog.prototype._allowInteractionRemapped = true;
                            }
                            else {
                                $.error("You must upgrade jQuery UI or else.");
                            }
                        }
                    },
                    _allowInteraction: function (event) {
                        return !!$(event.target).is(".select2-input") || this._super(event);
                    },
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
                $(".select2").select2();
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formData = new FormData($(form)[0]);
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            datatable.ajax.reload(null, false);

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className : "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if (confirm('Are you sure to delete ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "kendaraan")/' + id,
                    success: function (data) {
                        if (data.success) {
                            datatable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "bottom center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }
    </script>
}
