﻿<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<style>
    body {
        background-color: #dadde6;
    }

    .quantity {
        float: left;
        margin-right: 15px;
        background-color: #eee;
        position: relative;
        width: 80px;
        overflow: hidden
    }

        .quantity input {
            margin: 0;
            text-align: center;
            width: 15px;
            height: 15px;
            padding: 0;
            float: right;
            color: #000;
            font-size: 20px;
            border: 0;
            outline: 0;
            background-color: #F6F6F6
        }

            .quantity input.qty {
                position: relative;
                border: 0;
                width: 100%;
                height: 40px;
                /*padding: 10px 25px 10px 10px;*/
                text-align: center;
                font-weight: 400;
                font-size: 15px;
                border-radius: 0;
                background-clip: padding-box
            }

        .quantity .minus, .quantity .plus {
            line-height: 0;
            background-clip: padding-box;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            -webkit-background-size: 6px 30px;
            -moz-background-size: 6px 30px;
            color: #bbb;
            font-size: 20px;
            position: absolute;
            height: 50%;
            border: 0;
            right: 0;
            padding: 0;
            width: 25px;
            z-index: 3
        }

            .quantity .minus:hover, .quantity .plus:hover {
                background-color: #dad8da
            }

        .quantity .minus {
            bottom: 0
        }

    .shopping-cart {
        margin-top: 20px;
    }

    body {
        background-color: #dadde6;
        /*font-family: 'Oswald', sans-serif;
        display: flex;*/
        align-items: center;
        min-height: 100vh;
    }

    .owl-prev, .owl-next {
        display: none;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    .service {
        margin: 10px;
        overflow: hidden;
        padding: 35px 15px;
        position: relative;
        text-align: center;
        transition: background-color 0.3s ease-in, transform 0.3s ease-in;
    }

        .service:hover {
            background-color: #0094ff;
            transform: translateY(-3px);
        }

        /*.service::before {
            content: '';
            border-width: 20px;
            border-style: solid;
            border-color: #222f3e #222f3e rgba(1,1,1,0.4) rgba(0,0,0,0.4);
            position: absolute;
            right: -40px;
            top: -40px;
            transition: right 0.3s ease-out, top 0.3s ease-out;
        }*/

        .service:hover::before {
            right: 0;
            top: 0;
        }

        .service > i {
            display: block;
            color: #4800ff;
            font-size: 4rem;
            margin-bottom: 0.9rem;
            transition: color 0.3s ease-out;
        }

        .service > .title {
            font-weight: 900;
            font-size: 1.2rem;
            line-height: 1.55rem;
            text-transform: capitalize;
            transition: color 0.3s ease-out;
        }

    p {
        color: #000000;
        font-size: 20px;
    }

    .textBox {
        height: 30px;
        width: 300px;
    }

    .button {
        padding: 10px 15px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
</style>

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section container">
    <div class="">
        <div class="row">
            <div class="col-md-9">
                <div class="card shopping-cart">
                    <div class="card-header bg-dark text-light">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Shipping cart
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-6"><a type="button" href="@Url.Action("DeleteAllCart","Cart")/@ViewBag.id_trans" class="btn btn-outline-danger btn-sm pull-right"><i class="fa fa-trash" aria-hidden="true"></i> Delete Transaction</a></div>
                        </div>
                    </div>
                    @using (Html.BeginForm("postCart", "Cart", FormMethod.Post))
                    {
                        var i = 0;
                        <div class="card-body">
                            <!-- PRODUCT -->
                            @foreach (var item in ViewData["listpsn"] as IEnumerable<Tricone.Models.Resultdetail>)
                            {
                                <input type="hidden" name="[@i].id_transaksi" id="id_transaksi" value="@item.ID_TRANSAKSI" />
                                <input type="hidden" name="[@i].id_pemesanan" id="id_pemesanan" value="@item.ID_PEMESANAN" />
                                <input type="hidden" name="[@i].id_kendaraan" id="id_kendaraan" value="@item.ID_KENDARAAN" />
                                @*@Html.HiddenFor(model => model.ID_TRANSAKSI, new { @Value = item.id_transaksi })
                        @Html.HiddenFor(model => model.ID_PEMESANAN, new { @Value = item.id_pemesanan })*@
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-2 text-center">
                                        <img class="img-responsive" src="@Url.Content("~/images/")@item.pathFoto" alt="prewiew" width="120" height="80">
                                    </div>
                                    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-4">
                                        <h4 class="product-name"><strong>@item.NAMA_KENDARAAN</strong></h4>
                                        <h4>
                                            <small></small>
                                        </h4>
                                    </div>
                                    <div class="col-12 col-sm-12 text-sm-left col-md-6 text-md-right row">
                                        <div class="col-3 col-sm-3 col-md-5 text-md-right" style="padding-top: 5px">
                                            <h6><strong>Rp. @String.Format("{0:n0}", item.HARGA) <span class="text-muted">x</span></strong></h6>
                                        </div>
                                        <div class="col-6 col-sm-6">
                                            <div class="quantity col-md-6">
                                                <input type="number" step="1" max="99" min="1" value="@item.QUANTITY_KENDARAAN" title="Qty" class="qty" size="4" name="[@i].QUANTITY_KENDARAAN">
                                            </div>
                                            <div col-md-6 style="text-align:left;">
                                                Vehicle
                                            </div>
                                        </div>
                                        <div class="col-2 col-sm-1 col-md-1 text-right">
                                            <a type="button" href="@Url.Action("Delete1Cart","Cart")/@item.ID_PEMESANAN" class="btn btn-outline-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            @*<button type="button" class="btn btn-outline-danger btn-xs">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>*@
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                i++;
                            }

                            <!-- END PRODUCT -->
                            @*<div class="row">
                        <div class="col-5 col-sm-5 col-md-8 text-right"></div>
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Message" class="control-label">Catatan</label>
                                <textarea rows="1" cols="50" asp-for="Message" class="form-control" id="message" name="message">@ViewBag.Catatan</textarea>
                            </div>
                        </div>
                    </div>*@
                            <div class="form-group">
                                <label asp-for="Message" class="control-label">Catatan (jam jemput, alamat jemput dll)</label>
                                <textarea rows="1" cols="50" asp-for="Message" class="form-control" id="message" name="message">@ViewBag.Catatan</textarea>
                            </div>
                            <div class="pull-right" style="margin-bottom:10px;">
                                <input type="submit" value="Update shopping cart" class="btn btn-outline-secondary pull-right" />
                                @*<a href="" class="btn btn-outline-secondary pull-right">
                            Update shopping cart
                        </a>*@
                            </div>
                        </div>
                    }
                    <div class="card-footer">
                        <div class="coupon col-md-5 col-md-7 no-padding-left pull-left">
                            @using (Html.BeginForm("Discount", "Cart", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Discount code" id="discount" name="discount" value="@(ViewBag.kdpromo != "" ? ViewBag.kdpromo : "")">
                                        <input type="hidden" id="id_trans" name="id_trans" value="@ViewBag.id_trans">
                                    </div>
                                    <div class="col-md-6">
                                        @if (ViewBag.kdpromo != "")
                                        {
                                            <a type="button" href="@Url.Action("DeletePromo","Cart")/@ViewBag.id_trans" class="btn btn-outline-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        }
                                        @*<a type="submit" href="@Url.Action("Discount", "Cart")" class="btn btn-info">Use Discount</a>*@
                                        <input type="submit" class="btn-lg btn-info" value="Use Discount">
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="pull-right" style="margin: 10px">
                            <a href="@Url.Action("Checkout","Cart")/@ViewBag.id_trans" class="btn-lg btn-success pull-right">Checkout</a>
                            @*<div class="pull-right" style="margin: 5px">
                        Total price: Rp.<b>@String.Format("{0:n0}", ViewBag.Total)</b>
                    </div>*@
                        </div>

                    </div>
                </div>
                <br />
                <div class="card shopping-cart">
                    <div class="card-header bg-dark text-light">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        Choose Discount Code
                        <div class="clearfix"></div>
                    </div>
                        <div class="row card-body">
                            <ul class="list-group col-md-12 nonloop-block-13 owl-carousel">
                                @foreach (var item in ViewData["promolist"] as IEnumerable<Tricone.Models.TBL_PROMO>)
                                {
                                    @*<li class="service" style="background-image: url('@Url.Content("~/images/"+item.FOTO_PROMO)'); width:300px; height:300px;">*@
                                    <li class="service" style="background-color: darkgrey">
                                        <div class="post-entry-1-contents text-xl-center">
                                            <p id="p2" style="color: white; background-color: red"><b>@item.KODE_PROMO</b></p>
                                            <p style="color: white; font-size: 16px;">
                                                valid until <a>@item.ENDDATE.Value.ToString("dd MMMM yyyy")</a>
                                            </p><br />
                                            <button onclick="copyToClipboard('#p2')" class="button">Copy</button>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="card shopping-cart">
                    <div class="card-header bg-dark text-light">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        Price
                        <div class="clearfix"></div>
                    </div>
                    <div class="row card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span>Duration</span>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <span>@ViewBag.Durasi Day</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>SubTotal (Price x Quantity)</span>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <span>Rp. @String.Format("{0:n0}", ViewBag.subtot)</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>Discount</span>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <span>Rp.@(ViewBag.Discountnya == null ? "0" : String.Format("{0:n0}", ViewBag.Discountnya))</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>Fee Holiday</span>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <span>Rp.@(ViewBag.feeholiday == null ? "0" : String.Format("{0:n0}", ViewBag.feeholiday))</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" style="background-color: red; color: white;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>Total (SubTotal x Duration)</span>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <span>Rp. @String.Format("{0:n0}", ViewBag.Total)</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-md-12">
                        <div class="col-5 col-sm-5 col-md-7">
                        </div>
                        <div class="col-12 col-sm-12 col-md-5">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Duration</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span>2 Day</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Total Price</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <span>Rp. @String.Format("{0:n0}", ViewBag.Total)</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <label asp-for="Message" class="control-label">Catatan (jam jemput,alamat lokasi jemput dll)</label>
                                        <textarea rows="1" cols="50" asp-for="Message" class="form-control" id="message" name="message">@ViewBag.Catatan</textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>