﻿@*<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">*@
<style type="text/css">
@@import url('https://fonts.googleapis.com/css?family=Oswald');

   * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box
    }

    body {
        background-color: #dadde6;
        font-family: arial
    }

    .fl-left {
        float: left
    }

    .fl-right {
        float: right
    }

    .hder {
        text-transform: uppercase;
        font-weight: 900;
        border-left: 10px solid #fec500;
        padding-left: 10px;
        margin-bottom: 30px
    }

   #row1 {
        overflow: hidden
    }

    .card {
        display: table-row;
        width: 49%;
        background-color: #fff;
        color: #989898;
        margin-bottom: 10px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        border-radius: 4px;
        position: relative
    }

        .card + .card {
            margin-left: 2%
        }

    .date {
        display: table-cell;
        width: 25%;
        position: relative;
        text-align: center;
        border-right: 2px dashed #dadde6
    }

        .date:before,
        .date:after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-color: #DADDE6;
            position: absolute;
            top: -15px;
            right: -15px;
            z-index: 1;
            border-radius: 50%
        }

      .date:after {
            top: auto;
            bottom: -15px
        }

         .date time {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
        }

            .date time span {
                display: block
            }

                .date time span:first-child {
                    color: #2b2b2b;
                    font-weight: 600;
                    font-size: 250%
                }

                .date time span:last-child {
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-top: -10px
                }

    .card-cont {
        display: table-cell;
        width: 75%;
        font-size: 85%;
        padding: 10px 10px 30px 50px
    }

        .card-cont h3 {
            color: #3C3C3C;
            font-size: 130%
        }

    /*.row:last-child .card:last-of-type .card-cont h3 {
        text-decoration: line-through
    }*/

    .card-cont > div {
        display: table-row
    }

    .card-cont .even-date i,
    .card-cont .even-info i,
    .card-cont .even-date time,
    .card-cont .even-info p {
        display: table-cell
    }

    .card-cont .even-date i,
    .card-cont .even-info i {
        padding: 5% 5% 0 0
    }

    .card-cont .even-info p {
        padding: 10px 50px 0 0
    }

    .card-cont .even-date time span {
        display: block
    }

    .card-cont a {
        display: block;
        text-decoration: none;
        width: 80px;
        height: 30px;
        background-color: #D8DDE0;
        color: #fff;
        text-align: center;
        line-height: 30px;
        border-radius: 2px;
        position: absolute;
        right: 10px;
        bottom: 10px
    }

    /*.row:last-child .card:first-child .card-cont a {
        background-color: #037FDD
    }

    .row:last-child .card:last-child .card-cont a {
        background-color: #F8504C
    }*/

    @@media screen and (max-width: 860px) {
        .card {
            display: block;
            float: none;
            width: 100%;
            margin-bottom: 10px
        }

            .card + .card {
                margin-left: 0
            }

        .card-cont .even-date,
        .card-cont .even-info {
            font-size: 75%
        }
    }
</style>

<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container site-section">
    <h1 class="hder">Your Ticket Date</h1>


    @{var a = 0; var b = 0;
        foreach (var item in Model)
        {
            if (b == 0 || a == 2)
            {
                @Html.Raw("<div class='row' id='row1'>");
            }
            <article class="card fl-left">
                <section class="date">
                    <time datetime="">
                        <span>@Convert.ToString(string.Format("{0:dd}", item.TGL_PERGI))</span><span>@Convert.ToString(string.Format("{0:MMM}", item.TGL_PERGI))</span>
                    </time>
                </section>
                <section class="card-cont">
                    <small>@item.NAMA_PROVINSI</small>
                    <h3>@item.NAMA_KOTA</h3>
                    <div class="even-date">
                        <i class="fa fa-calendar"></i>
                        <time>
                            <span> @Convert.ToString(string.Format("{0:dddd dd/MMMM/yyyy}", item.TGL_PERGI)) - @Convert.ToString(string.Format("{0:dddd dd/MMMM/yyyy}", item.TGL_PULANG))</span>
                        </time>
                    </div>
                    <div class="col-md-12 even-info">
                        <i class="fa fa-archive"></i>
                        <p>
                            Your Transport info is @item.TOTAL_DURASI Day, Rp. @item.TOTAL_TRANSAKSI
                        </p>
                    </div>
                    <a href="@Url.Action("Cart","Cart")/@item.ID_TRANSAKSI" style="background-color:forestgreen;">Detail Cart</a>
                </section>
            </article>
            a++;
            if (a == 2)
            {
                @Html.Raw("</div>");
                a = 0;
                b = 0;
            }
            else
            {
                b++;
            }
        }
    }
</section>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>