﻿@model Tricone.Models.TBL_DETAILSERVIS

@{
    Layout = null;
}


@using (Html.BeginForm("AddOrEdit", "servis", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ID_DETAILSERVIS)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Service Name<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.NAMA_SERVIS, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Service Name" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_DETAILSERVIS)</span>
        </div>
    </div><!-- /.form-group -->
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Description<span style="color:red;"> *</span></label>
            @Html.TextAreaFor(model => model.DESKRIPSI, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Description", cols = 35, @rows = 3 } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA_SERVIS)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="@(Model.ID_DETAILSERVIS != 0 ? "col-md-8" : "col-md-12")">
            <label class="control-label">Image<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.FOTO_DESKRIPSI)</span>
            <div class="form-control col-md-12">
                <input type="file" name="filebase" onchange="fileCheck(this);" @(Model.ID_DETAILSERVIS == 0 ? "required" : "") />
            </div>
        </div>
        @if (Model.ID_DETAILSERVIS != 0)
        {
            @Html.HiddenFor(model => model.FOTO_DESKRIPSI)
            <div class="col-md-4" style="margin-top:10px;">
                <img src="@Url.Content("~/images/"+Model.FOTO_DESKRIPSI)" width="100" height="100" />
            </div>
        }
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}

