﻿@model Tricone.Models.TBL_TRANSAKSI

@{
    Layout = null;
}


@using (Html.BeginForm("Reject", "Refund", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <input type="hidden" value="@ViewBag.id_trans" name="id_trans" id="id_trans" />
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-12">
                <label class="control-label">Reason<span style="color:red;"> *</span></label>
                <span style="color:red;">@Html.ValidationMessageFor(a => Model.KETERANGANADMIN)</span>
                @Html.TextAreaFor(m => Model.KETERANGANADMIN, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}


