﻿@model Tricone.Models.TBL_REFUND

@{
    Layout = null;
}


@using (Html.BeginForm("Uploadp", "Refund", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", enctype = "multipart/form-data" }))
{

    <input type="hidden" id="id_trans" name="id_trans" value="@ViewBag.id_trans" />
    @Html.HiddenFor(model => model.ID_REFUND)
    <div class="form-group">
        <div class="@(ViewBag.foto != null ? "col-md-8" : "col-md-12")">
            <label class="control-label">Image<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.FOTO_REFUND)</span>
            <div class="form-control col-md-12">
                <input type="file" name="filebase" @(ViewBag.foto == null ? "required" : "") />
            </div>
        </div>
        @if (ViewBag.foto != null)
        {
            <input type="hidden" id="fotolama" name="fotolama" value="@ViewBag.foto" />
            @Html.HiddenFor(model => model.FOTO_REFUND)
            <div class="col-md-4" style="margin-top:10px;">
                <img src="@Url.Content("~/images/"+ViewBag.foto)" width="100" height="100" />
            </div>
        }
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}