﻿@model Tricone.Models.TBL_MEMBER

@{
    /**/

    Layout = null;
}

@using (Html.BeginForm("AddorEdit", "member", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID_MEMBER)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Member Name<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.NAMA_MEMBER, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Member Name" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA_MEMBER)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Address<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.ALAMAT, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Address" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ALAMAT)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Number Phone<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.NO_TELEPON, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Number Phone" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.NO_TELEPON)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Email<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Email" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.EMAIL)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">User Name<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "User Name" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.USERNAME)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Status<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.STATUS)</span>
            @Html.DropDownList("STATUS", new List<SelectListItem>
            {
                new SelectListItem{ Text="Select Status", Value = "" },
                new SelectListItem{ Text="Active", Value = "true" },
                new SelectListItem{ Text="In Active", Value = "false" },
             }, new { @class = "form-control col-md-12",required = "required" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Role<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ROLEMEMBER)</span>
            @Html.DropDownList("ROLEMEMBER", new List<SelectListItem>
            {
                new SelectListItem{ Text="Select Role", Value = "" },
                new SelectListItem{ Text="Member", Value = "MEMBER" },
                new SelectListItem{ Text="Admin", Value = "ADMIN" },
             }, new { @class = "form-control",required = "required" })
        </div>
    </div>
    if (Model.ID_MEMBER == 0)
    {
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Password<span style="color:red;"> *</span></label>
                @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Password" } })
                <span style="color:red;">@Html.ValidationMessageFor(model => model.PASSWORD)</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label">Confirm Password<span style="color:red;"> *</span></label>
                @Html.EditorFor(model => model.CONFIRMPASSWORD, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "User Name" } })
                <span style="color:red;">@Html.ValidationMessageFor(model => model.CONFIRMPASSWORD)</span>
            </div>
        </div>
    }
    else
    {
        <input type="hidden" name="PASSWORD" id="PASSWORD" value="123456789" />
        <input type="hidden" name="CONFIRMPASSWORD" id="CONFIRMPASSWORD" value="123456789" />
    }
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}


