﻿@model Tricone.Models.TR_DETAIL_PEMESANAN
@{
    ViewBag.Title = "Index";
}

<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1 style="color:white;">Our For Rent Transportation</h1>
                    <p style="color:white;">Greatest travel tour</p>
                </div>
            </div>
        </div>
    </div>
</div>
@ViewBag.Error

<div class="site-section pt-0 pb-0" style="margin-bottom:20px;">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                @using (Html.BeginForm("Index", "pemesanan", FormMethod.Post, new { @class = "trip-form" }))
                {
                    <div class="row align-items-center mb-4">
                        <div class="col-md-12" style="text-align:center;">
                            <h3 class="m-0">Select Your Date of Trip First</h3>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="startDate">Start Date<span style="color:red;"> *</span></label>
                            @Html.Editor("startDate", new { htmlAttributes = new { @class = "form-control date", @placeholder = "Start Date", required = "required" } })
                            @*@Html.TextBox("startDate", DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "form-control date", type = "date", required = "required" })*@
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endDate" class="control-label">End Date<span style="color:red;"> *</span></label>
                            @*@Html.TextBox("endDate", DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "form-control date", type = "date", required = "required" })*@
                            @Html.Editor("endDate", new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "End Date", required = "required" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="endDate" class="control-label">Departed City<span style="color:red;"> *</span></label><span style="color:red;">@Html.ValidationMessageFor(model => model.ID_KOTA)</span>
                            @Html.DropDownListFor(Model => Model.ID_KOTA, new SelectList((from c in Model.kotacollection.ToList() where c.ID_KOTA == 1 || c.ID_KOTA == 2 || c.ID_KOTA == 3 || c.ID_KOTA == 4 select new { nama_kota = c.NAMA_KOTA, id_kota = c.ID_KOTA }), "id_kota", "nama_kota"), "Select City", new { @class = "form-control select2" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endDate" class="control-label">Destination City<span style="color:red;"> *</span></label><span style="color:red;">@Html.ValidationMessageFor(model => model.ID_KOTA)</span>
                            @Html.DropDownListFor(Model => Model.ID_KOTA, new SelectList(Model.kotacollection, "ID_KOTA", "NAMA_KOTA"), "Select City", new { @class = "form-control select2", required = "required", style = "" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" value="Search Vehicle" class="btn btn-primary btn-lg btn-block">
                        </div>
                    </div>
                }
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container trip-form" id="tampilan">
        <div class="container">
            <div class="row align-items-center mb-4">
                <div class="col-md-12" style="text-align:center;">
                    <h2 class="m-0">Select Your Car</h2>
                </div>
            </div>
            <hr />
            <div class="row">
                @*foreach (var item in ViewData["joinkendaraan"] as IEnumerable<Tricone.Models.JoinKendaraanClass>)
                    {*@
                @{ var kosong = "Not Available";}
                @foreach (var item in ViewData["kndraan"] as IEnumerable<Tricone.Models.daftarkendaraanbytanggal_Result>)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="item-1">
                            <a href="#"><img src="@Url.Content("~/images/"+item.pathFoto)" alt="Image" class="img-fluid" style="width:auto; height:300px;"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href="#" style="text-transform: uppercase;">@*item.jkendaraanList.NAMA_KENDARAAN*@ @item.NAMA_KENDARAAN</a></h3>
                                    @if ((item.hargakota != 0 && item.durasi != 0) || item.terpakai < 0)
                                    {
                                        <div class="rent-price"><span>Rp.@String.Format("{0:#,##}", item.hargakota)/</span>@item.durasi day</div>

                                    }
                                    else
                                    {
                                        <div class="rent-price">@kosong</div>
                                    }
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">@*item.kendaraanList.JUMLAH_SEAT *@ @item.JUMLAH_SEAT</span>
                                    </li>
                                    @*<li>
                                            <span>Features</span>
                                            <span class="spec">@item.fasilitas</span>
                                        </li>*@
                                    <li>
                                        <span>Available</span>
                                        <span class="spec">@item.terpakai Unit</span>
                                    </li>
                                </ul>
                                <div class="d-flex action">
                                    @* Url.Action("checkout", "pemesanan", new { id = item.kendaraanList.ID_KENDARAAN }) *@
                                    @*<a href="@Url.Action("DetailProduk", "pemesanan", new { id = item.ID_KENDARAAN })" class="btn btn-primary">
                                            Detail
                                        </a>*@
                                    @using (Html.BeginForm("AddtoCart", "pemesanan", FormMethod.Post))
                                    {
                                        @*@Html.HiddenFor(model => model.ID_HARGA, new { @Value = item.id_harga })
                                            @Html.HiddenFor(model => model.ID_MEMBER, new { @Value = Session["ID_MEMBER"] })*@
                                        <input type="hidden" name="startdate" id="startdate" value="@ViewBag.startdate" />
                                        <input type="hidden" name="enddate" id="enddate" value="@ViewBag.enddate" />
                                        <input type="hidden" name="id_kota" id="id_kota" value="@ViewBag.id_kota" />
                                        <input type="hidden" name="id_kendaraan" id="id_kendaraan" value="@(item.ID_KENDARAAN != null ? (int)item.ID_KENDARAAN : 0)" />
                                        <input type="hidden" name="id_member" id="id_member" value="@(Session["ID_MEMBER"] != null ? Session["ID_MEMBER"] : 0)" />
                                        <input type="hidden" name="id_harga" id="id_harga" value="@(@item.id_harga != null ? (int)item.id_harga : 0)" />
                                        if (((item.hargakota != 0 && item.durasi != 0) || item.terpakai < 0) && Session["ID_MEMBER"] != null)
                                        {
                                            <input type="submit" value="Add To Cart" class="btn btn-info" style="margin-left:0px;" />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @*}*@
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
            type="text/javascript"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script>
        $(document).ready(function () {
            //$("#ID_KOTA").select2();
            if (document.getElementById('startdate').value == '' || document.getElementById('enddate').value == '') {
                document.getElementById("tampilan").style.display = "none";
            } else {
                document.getElementById("tampilan").style.display = "";
            }
        })

        $(function () {
            $("#startDate").datepicker({
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                minDate: 0,
                maxDate: new Date($("#endDate").val()),
                onClose: function (selected) {
                    $("#endDate").datepicker("option", "minDate", selected);;
                }
            });
            $("#endDate").datepicker({
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                minDate: new Date($("#startDate").val()),
                onClose: function (selected) {
                    $("#startDate").datepicker("option", "maxDate", selected);;
                }
            });
        });
    </script>
}