﻿@model Tricone.Models.v_detail_pesan
@{
    /**/

    ViewBag.Title = "Details";
}

<link href="~/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            DETAIL
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-database"></i>Detail Transaction</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <input type="hidden" name="trans" id="trans" value="@ViewBag.id_trans" />
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style='text-align: center;'>
                                        Member Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Vehicle Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Price
                                    </th>
                                    <th style='text-align: center;'>
                                        Day Off Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Start Date
                                    </th>
                                    <th style='text-align: center;'>
                                        End Date
                                    </th>
                                    <th style='text-align: center;'>
                                        City Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Total Vehicle
                                    </th>
                                    <th style='text-align: center;'>
                                        Driver Name
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/plugins/select2/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script type="text/javascript">
        var Popup, dataTable;
        $(document).ready(function () {
            var id_trans = $('#trans').val();
            datatable = $('#example1').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetdataDetail", "Reschedule")",
                    "type": "GET",
                    "data": {id_trans},
                    "datatype": "json"
                },
                "columns": [
                    { "data": "nama_member" },
                    { "data": "nama_kendaraan" },
                    { "data": "harga" },
                    { "data": "nama_harilibur" },
                    {
                        "data": "tgl_pergi", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "tgl_pulang", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    { "data": "nama_kota" },
                    { "data": "quantity_kendaraan" },
                    { "data": "nama_supir" }
                ], "order": [],
                "language": {
                    "emptyTable":"No Data Found"
                }
            });
        });
    </script>
}
