﻿
@{
    ViewBag.Title = "Index";
}

<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <br />
                    <h1 style="color:white;">
                        <b>
                            ABOUT OUR COMPANY
                        </b>
                    </h1>
                    <p style="color:white;" class="text-light">Companies engaged in the service sector since 2014</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
                <iframe width="550" height="400" src="https://www.youtube.com/embed/tDGQY7bpGDA?autoplay=1&mute=1"></iframe>
            </div>
            <div class="col-lg-4 mr-auto">
                <h2>Tricone Travel</h2>
                <p>
                    Tricone Travel is a company engaged in services, which is located at Ruko Taman Medical Estate Blok F No. 3. Pondok Kepala Duren Sawit. East Jakarta.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="~/images/anggota.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 ml-auto">
                <h2>Our History</h2>
                <p>
                    Tricone travel company was founded in 2014, this company is engaged in tourism vehicle rental services.
                </p>
            </div>
        </div>
    </div>
</div>