﻿@model Tricone.Models.v_transaksi
@{
    /**/

    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="text-center">
            TRANSACTION EVENT CALENDAR
        </h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calender"></div>
            </div><!-- /.box-body -->
        </div><!-- /. box -->

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id="eventTitle"></span></h4>
                    </div>
                    <div class="modal-body">
                        <p id="pDetails"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                "url": "@Url.Action("GetEvents", "Schedule")",
                "type": "GET",
                success: function (data) {
                    var warna = '';
                    var flag = 0;
                    $.each(data, function (i, v) {
                        if (flag == 0) {
                            warna = 'blue';
                        }
                        else { warna = 'green';}
                        events.push({
                            title: v.NAMA_MEMBER,
                            description: '<br>' + 'City Name    : ' + v.NAMA_KOTA +'<br/>' + 'Province Name : ' + v.NAMA_PROVINSI + '<br/>' + 'Total Transaction : ' + v.TOTAL_TRANSAKSI + '<br/>' + 'Note : ' + v.CATATAN, 
                            start: moment(v.TGL_PERGI),
                            //end: v.TGL_PULANG != null ? moment(v.TGL_PULANG) : null,
                            end: moment(v.TGL_PULANG).add(1, 'days'),
                            color: warna,
                            allDay: true
                        });
                        if (flag != 0) {
                            flag = 0;
                        }
                        else { flag = 1; }
                    })
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: false,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>tgl_pergi:</b>' + calEvent.start.format("DD-MMM-YYYY")));
                        if (calEvent.end != null) {
                            var endate = calEvent.end.subtract(1,"days");
                            $description.append($('<p/>').html('<b>tgl_pulang:</b>' + endate.format("DD-MMM-YYYY")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                })
            }
        })
    </script>
}
