﻿@if (Session["ROLEMEMBER"] == null || Session["ROLEMEMBER"].ToString() == "MEMBER")
{
    <!doctype html>
    <html lang="en">
    <head>
        <title>TRICONE &mdash; Travel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        @*<link href="Stylesheet.css" rel="stylesheet" type="text/css" />*@
        <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.js" type="javascript"></script>
        <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" type="javascript"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        @Styles.Render("~/fontsing/css")
        @Styles.Render("~/contenting/css")
        @Styles.Render("~/fontsing2/css")
        @Styles.Render("~/contenting2/css")

        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                /*font-size: 20px;*/
            }

            #myBtn {
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                font-size: 18px;
                border: none;
                outline: none;
                background-color: red;
                color: white;
                cursor: pointer;
                padding: 15px;
                border-radius: 4px;
            }

                #myBtn:hover {
                    background-color: #555;
                }
        </style>
    </head>

    

    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        @{
            Html.RenderAction("Navig", "Home");
        }
        @*@Html.Partial("Nav")*@

        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () { scrollFunction() };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>

        @RenderBody()
        @Html.Partial("Footer")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", false)
    </body>
</html>
}
else
{
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TRICONE &mdash; Travel</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    @Styles.Render("~/bootstraping1/css")
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /><!--ok-->
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" /><!--ok-->
    <!-- css tambahan untuk badan, jika ada item baru, masukkan disini-->
    <!-- css calender-->

    @Styles.Render("~/calendering/css")
    @Styles.RenderFormat(@"<link href="" {0}"" rel="" stylesheet"" type="" text/css"" media=""print"" />", "~/calendering2/css")
    <!-- css datatable-->
    @Styles.Render("~/datatablesing/css")
    <!-- /css tambahan untuk badan-->
    <!-- Theme style -->
    @Styles.Render("~/bootstraping/css")
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        @{
            Html.RenderAction("Navigadmin", "Home");
        }
        @*@Html.Partial("Nav")*@
        @RenderBody()
        @Html.Partial("Footer")
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    @Scripts.Render("~/js1ing/js")
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script><!--ok-->
    <!-- Slimscroll -->
    @Scripts.Render("~/js2ing/js")

    <!-- js tambahan untuk badan, jika ada item baru, masukkan disini-->
    <!-- fullCalendar 2.2.5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script><!--ok-->
    @Scripts.Render("~/fullcalendar/js")
    <!-- Page specific script -->
    @Scripts.Render("~/datatablesing/js")
    <!-- /js tambahan untuk badan, jika ada item baru, masukkan disini-->

    @RenderSection("Scripts", false)
</body>

</html>

}

