﻿@model Tricone.Models.MS_JENIS_KENDARAAN

<option value="">--Select Vehicle--</option>

@if (ViewBag.Slist != null)
{
    foreach (var item in ViewBag.Slist)
    {
        <option value="@item.Value">@item.Text</option>
    }
}

