﻿@if (Session["ROLEMEMBER"] == null || Session["ROLEMEMBER"].ToString() == "MEMBER")
{
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="footer-heading mb-4">About Us</h2>
                    <p class="text-justify">Tricone Travel is a company engaged in services, which is located at Ruko Taman Medical Estate Blok F No. 3. Pondok Kepala Duren Sawit. East Jakarta.</p>
                </div>
                <div class="col-lg-8 ml-auto">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index", "About")">About Us</a></li>
                                <li><a href="@Url.Action("Index", "DetailKendaraan")">Vehicle</a></li>
                                <li><a href="@Url.Action("Index", "WisataUser")">Destination Travel</a></li>
                                <li><a href="@Url.Action("Index", "faquser")">FAQ</a></li>
                                <li><a href="@Url.Action("Index", "SyaratdanKetentuan")">Terms of Service</a></li>
                                <li><a href="@Url.Action("Index", "Contact")">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="footer-heading mb-3">Contact Us</h2>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-whatsapp fa-lg icon" style="margin-right:9px;"></i><a href="https://wa.me/6281807770567?text=Halo Admin Tricone Travel, Saya ingin menanyakan hal seputar Tricone Travel " target="_blank">0822-2624-5078</a></li>
                                <li><i class="fa fa-envelope fa-lg icon" style="margin-right:9px;"></i><a href="mailto:triconetravel@gmail.com" target="_blank">triconetravel@gmail.com</a></li>
                            </ul>
                            <br />
                            <h3 class="footer-heading mb-3">Find Us</h3>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-instagram fa-lg icon" style="margin-right:9px;"></i><a href="https://www.instagram.com/triconetravel/" target="_blank">triconetravel</a></li>
                                <li><i class="fa fa-twitter fa-lg icon" style="margin-right:9px;"></i><a href="https://twitter.com/triconetravel" target="_blank">triconetravel</a></li>
                                <li><i class="fa fa-youtube fa-lg icon" style="margin-right:9px;"></i><a href="https://www.youtube.com/channel/UC2C1ZF9AhkVTH-Xks_ePH3A" target="_blank">triconetravel</a></li>
                                <li><i class="fa fa-map-marker fa-lg icon" style="margin-right:9px;"></i><a href="https://www.google.com/maps?ll=-6.233848,106.934369&z=12&t=m&hl=id&gl=ID&mapclient=embed&cid=4032374369971245325" target="_blank">triconetravel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Tricone Travel All rights reserved.
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
}
else
{
    <footer class="main-footer">
        <strong>Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> Tricone Travel</strong> All rights reserved.
    </footer>
}
