﻿@if (Session["ROLEMEMBER"] == null || Session["ROLEMEMBER"].ToString() == "MEMBER")
{
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar site-navbar-target site-section" role="banner">

        <div class="container">
            <div class="row align-items-center position-relative" style="margin-top:-80px;">

                <div class="col-3 ">
                    <div class="site-logo">
                        <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/images/icontricone2.png")" class="img-circle" alt="User Image" /></a>
                    </div>
                </div>

                <div class="col-9  text-right">
                    <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>
                    <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto ">
                            @*<li class="@(ViewBag.Message == "home" ? "active" : "")"><a href="@Url.Action("Index", "Home")" class="nav-link">Home</a></li>
        <li class="@(ViewBag.Message == "about" ? "active" : "")"><a href="@Url.Action("Index", "About")" class="nav-link">About Us</a></li>*@
                            <li class="@(ViewBag.Message == "howto" ? "active" : "")"><a href="@Url.Action("Index", "howtobook")" class="nav-link">How To Book</a></li>
                            <li class="@(ViewBag.Message == "pesan" ? "active" : "")"><a href="@Url.Action("Index", "pemesanan")" class="nav-link">Book Now</a></li>
                            <li class="@(ViewBag.Message == "pesan" ? "active" : "")"><a href="@Url.Action("Index", "PromoUser")" class="nav-link">Discount</a></li>
                            @if (Session["ID_MEMBER"] != null)
                            {
                                <li><a href="@Url.Action("Index", "ScheduleUser")" class="nav-link">Schedule</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bell" aria-hidden="true" style="color:white"><span style="color:red;">@ViewBag.jumlahnotif</span></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @if (ViewBag.notiftrans > 0)
                                        {
                                            <a href="@Url.Action("Deltrans", "Home")" class="dropdown-item">New @ViewBag.notiftrans Transaction Status</a>
                                        }

                                        @if (ViewBag.notifchange > 0)
                                        {
                                            <a href="@Url.Action("Delreschedule", "Home")" class="dropdown-item">New @ViewBag.notifchange Change Schedule Status</a>
                                        }

                                        @if (ViewBag.notifrefun > 0)
                                        {
                                            <a href="@Url.Action("Delrefund", "Home")" class="dropdown-item">New @ViewBag.notifrefun Refund Status</a>
                                        }
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Cart")" class="nav-link">
                                        <i class="fa fa-shopping-cart" aria-hidden="true" style="color:white">
                                            @*<span id="kranjangg" name="kranjangg" style="color:red"></span>*@<span style="color:red">@ViewBag.keranjang</span>
                                        </i>
                                    </a>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (Session["ID_MEMBER"] != null)
                                    {
                                        <a href="@Url.Action("Login", "Regist")" class="dropdown-item">Account @Session["USERNAME"].ToString()</a>
                                        <a href="@Url.Action("Logout", "Regist")" class="dropdown-item">Logout</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Login", "Regist")" class="dropdown-item">Login</a>
                                        <a href="@Url.Action("Registration", "Regist")" class="dropdown-item">Registrasi</a>
                                    }
                                </div>
                            </li>
                            <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id ="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="@Url.Action("Login", "Regist")" class="dropdown-item">Login</a>
            <a href="@Url.Action("Registration", "Regist")" class="dropdown-item">Registrasi</a>
        </div>
    </li>-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @*<script type="text/javascript">
    $(document).ready(function () {
        var kranjang;
        var options = {
            type: "POST",
            url: '/Home/GetData',
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    $("#kranjangg").html(response);
                } else {
                    alert("Something went wrong");
                }
                
                setInterval(function () {load()}, 10000);
            }
        };
        $.ajax(options);
    });

    function load() {
        var kranjang;
        var options = {
            type: "POST",
            url: '/Home/GetData',
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    $("#kranjangg").html(response);
                } else {
                    alert("Something went wrong");
                }
                
                setInterval(function () { load() }, 10000);
            }
        };
        $.ajax(options);
    }
    </script>*@
}
else
{
    <header class="main-header">
        <a href="@Url.Action("Index", "Home")" class="logo">
            <span class="logo-mini"><b>T</b>R</span>
            <span class="logo-lg">
                <div style="overflow: hidden;height: 122px;max-height: 300px;position: relative;">
                    <img src="@Url.Content("~/images/icontricone.png")" alt="Image" class="img-fluid" style="display: block;width: 100%;height: auto;position: absolute;bottom: 0;" />
                </div>
            </span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>*@
                        @*<ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@Url.Content("~/dist/img/user2-160x160.jpg")" class="img-circle" alt="User Image" />
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>*@

                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">@ViewBag.notifall</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have @ViewBag.notifall notifications</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="@Url.Action("trans", "Home")">
                                            <i class="fa fa-cloud-download text-aqua"></i> @ViewBag.notiftrans new Transactions Request
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ubahjdl", "Home")">
                                            <i class="fa fa-pencil text-warning"></i> @ViewBag.notifchange new Change Schedule Request
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("refun", "Home")">
                                            <i class="fa fa-mail-reply-all text-danger"></i> @ViewBag.notifrefund new Refund Request
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>

                    @*<li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>*@

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@Url.Content("~/images/admin.png")" class="user-image" alt="User Image" />
                            <span class="hidden-xs">Admin</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="@Url.Content("~/images/admin.png")" class="img-circle" alt="User Image" />
                                <p>
                                    Admin
                                    @*<small>Member since Nov. 2012</small>*@
                                </p>
                            </li>

                            @*<li class="user-body">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </li>*@

                            <li class="user-footer">
                                @*<div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>*@
                                <div class="pull-right">
                                    <a href="@Url.Action("Logout", "Regist")" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="@Url.Content("~/images/admin.png")" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>Admin</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>*@

            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-database"></i> <span>Master Data</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Provinsi")"><i class="fa fa-circle-o"></i> Province</a></li>
                        <li><a href="@Url.Action("Index", "member")"><i class="fa fa-circle-o"></i> Users</a></li>
                        <li><a href="@Url.Action("Index", "kota")"><i class="fa fa-circle-o"></i> City</a></li>
                        <li><a href="@Url.Action("Index", "Supir")"><i class="fa fa-circle-o"></i> Driver</a></li>
                        <li><a href="@Url.Action("Index", "promo")"><i class="fa fa-circle-o"></i> Discount</a></li>
                        <li><a href="@Url.Action("Index", "jeniskendaraan")"><i class="fa fa-circle-o"></i> Vehicle Type</a></li>
                        <li><a href="@Url.Action("Index", "kendaraan")"><i class="fa fa-circle-o"></i> Vehicle</a></li>
                        <li><a href="@Url.Action("Index", "bank")"><i class="fa fa-circle-o"></i> Bank</a></li>
                        <li><a href="@Url.Action("Index", "harilibur")"><i class="fa fa-circle-o"></i> Day Off</a></li>
                        <li><a href="@Url.Action("Index", "kuisioner")"><i class="fa fa-circle-o"></i> Questionnaire</a></li>
                        <li><a href="@Url.Action("Index", "servis")"><i class="fa fa-circle-o"></i> Service</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-database"></i> <span>List Price</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "harga")"><i class="fa fa-circle-o"></i> Price</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-database"></i> <span>List Testimoni User</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "testimoniadmin")"><i class="fa fa-circle-o"></i> testimonial User</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-database"></i> <span>Travel Destination</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "wisata")"><i class="fa fa-circle-o"></i> Destination Travel</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-database"></i> <span>List FAQ</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "faqadmin")"><i class="fa fa-circle-o"></i> FAQ</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-database"></i> <span>Transaction</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "transaksi")"><i class="fa fa-circle-o"></i>List Transaction</a></li>
                        <li><a href="@Url.Action("Index", "Refund")"><i class="fa fa-circle-o"></i>List Refund</a></li>
                        <li><a href="@Url.Action("Index", "Reschedule")"><i class="fa fa-circle-o"></i>Re-Schedule</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-database"></i> <span>Report</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Member", "Report")"><i class="fa fa-circle-o"></i>List Member Report</a></li>
                        <li><a href="@Url.Action("Kota", "Report")"><i class="fa fa-circle-o"></i>List City Report</a></li>
                        <li><a href="@Url.Action("Kendaraan", "Report")"><i class="fa fa-circle-o"></i>List Vehicle Report</a></li>
                        <li><a href="@Url.Action("Transaksi", "Report")"><i class="fa fa-circle-o"></i>List Tansaction Report</a></li>
                        <li><a href="@Url.Action("DetailPemesanan", "Report")"><i class="fa fa-circle-o"></i>List Order Detail Report</a></li>
                        <li><a href="@Url.Action("Refund", "Report")"><i class="fa fa-circle-o"></i>List Refund Report</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-database"></i> <span>Log Activity</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "AuditTrail")"><i class="fa fa-circle-o"></i> Audit Trail</a></li>
                        <li><a href="@Url.Action("Index", "LogError")"><i class="fa fa-circle-o"></i> Error Log</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("index", "Schedule")">
                        <i class="fa fa-calendar"></i> <span>Calendar</span>
                        @*<small class="label pull-right bg-red">3</small>*@
                    </a>
                </li>
                @*<li>
            <a href="">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <small class="label pull-right bg-yellow">12</small>
            </a>
        </li>*@
                @*<li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Examples</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href=""><i class="fa fa-circle-o"></i> Invoice</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> Login</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> Register</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> 404 Error</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> 500 Error</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> Blank Page</a></li>
            </ul>
        </li>*@
                @*<li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Multilevel</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li>
                            <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            </ul>
        </li>*@
                @*<li><a href=""><i class="fa fa-book"></i> <span>Documentation</span></a></li>*@
            </ul>
        </section>
    </aside>
}
