﻿@if (Session["ROLEMEMBER"] == null || Session["ROLEMEMBER"].ToString() == "MEMBER")
{
    @model Tricone.Models.TR_DETAIL_PEMESANAN
    <style>
        .owl-prev, .owl-next {
            display: none;
        }

        .container {
            width: 90%;
            margin: 0 auto;
        }

        .services {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 40px;
        }

        .service {
            margin: 10px;
            overflow: hidden;
            padding: 35px 15px;
            position: relative;
            text-align: center;
            transition: background-color 0.3s ease-in, transform 0.3s ease-in;
        }

            .service:hover {
                background-color: #0094ff;
                transform: translateY(-3px);
            }

            .service::before {
                content: '';
                border-width: 20px;
                border-style: solid;
                border-color: #222f3e #222f3e rgba(1,1,1,0.4) rgba(0,0,0,0.4);
                position: absolute;
                right: -40px;
                top: -40px;
                transition: right 0.3s ease-out, top 0.3s ease-out;
            }

            .service:hover::before {
                right: 0;
                top: 0;
            }

            .service > i {
                display: block;
                color: #4800ff;
                font-size: 4rem;
                margin-bottom: 0.9rem;
                transition: color 0.3s ease-out;
            }

            .service > .title {
                font-weight: 900;
                font-size: 1.2rem;
                line-height: 1.55rem;
                text-transform: capitalize;
                transition: color 0.3s ease-out;
            }

            .service > .description {
                line-height: 1.40rem;
                margin: 0;
                transition: color 0.3s ease-out;
            }

            .service:hover > i,
            .service:hover > .title,
            .service:hover > .description {
                color: white;
            }
    </style>
    <div class="site-wrap" id="home-section">

        <!--<div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>-->
        <div class="ftco-blocks-cover-1">
            <div class="ftco-cover-1 overlay" style="background-image: url('@Url.Content("~/images/bushd.jpg")')">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10 text-center">
                            <h1>NEED A VEHICLE FOR THE HOLIDAYS?</h1>
                            <h1>WHAT ARE YOU WAITING FOR</h1>
                            <a href="@Url.Action("Index", "pemesanan")" class="btn btn-lg btn-primary"
                               style="width:50%;
                            padding: 10px 20px;
                            font-size: 40px;
                            border-radius: 10px;
                            font-weight: bold;">

                                BOOK NOW
                            </a>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <h3>Our Offer</h3>
                        <p class="mb-4">Enjoy the best ride in the best car too. there will be no regrets when you choose us as your travel companion.</p>
                        <p>
                            <a href="#" class="btn btn-primary custom-prev">Back</a>
                            <span class="mx-2">/</span>
                            <a href="#" class="btn btn-primary custom-next">Next</a>
                        </p>
                    </div>
                    <div class="col-lg-10">
                        <div class="nonloop-block-13 owl-carousel">
                            @foreach (var item in ViewData["kndraan2"] as IEnumerable<Tricone.Models.v_kendaraan>)
                            {
                                <div class="    ">
                                    <a href="#"><img src="@Url.Content("~/images/"+item.pathFoto)" alt="Image" class="img-fluid" style="width:300px; height:300px;"></a>
                                    <div class="item-1-contents">
                                        <div class="text-center">
                                            <h3><a href="#">@item.NAMA_KENDARAAN</a></h3>
                                        </div>
                                        <ul class="specs">
                                            <li>
                                                <span>Seats</span>
                                                <span class="spec">@item.JUMLAH_SEAT</span>
                                            </li>
                                            @*<li>
                                                    <span>Features</span>
                                                    <span class="spec">@item.fasilitas</span>
                                                </li>*@
                                            <li>
                                                <span>Available</span>
                                                <span class="spec">@item.JUMLAH_KENDARAAN Unit</span>
                                            </li>
                                        </ul>
                                        <!--<div class="d-flex action">
                                            <a href="@Url.Action("DetailProduk", "pemesanan", new { id = item.ID_KENDARAAN })" class="btn btn-primary">Detail</a>
                                        </div>-->
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-fuchsia-active">
            <div class="container">
                <div class="row justify-content-center text-center mb-5 section-2-title">
                    <div class="col-md-12 text-lg-center" style="color:white; background-color:slategrey">
                        <h1><b>Our Service</b></h1>
                    </div>
                </div>
                <div class="row align-items-stretch">
                    <div class="col-lg-4 col-md-6">
                        <div class="services">
                            <div class="service">
                                <a href='@Url.Action("Mudik", "DetailServis")'>
                                    <img src="~/images/trip.jpg" alt="Alps"
                                         class="img-fluid img-thumbnail" style="width: 500px; height: 200px;">
                                </a>
                                <div class="post-entry-1-contents text-xl-center">
                                    <h2>Mudik</h2>
                                    <p class="description">
                                        Your homecoming trip will be more comfortable with the Homecoming Bus provided by Tricone Travel partners
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="services">
                            <div class="service">
                                <a href='@Url.Action("Travel", "DetailServis")'>
                                    <img src="~/images/mudik-gratis-2020.jpg" alt="Alps"
                                         class="img-fluid img-thumbnail" style="width: 500px; height: 200px;">
                                </a>
                                <div class="post-entry-1-contents text-xl-center">
                                    <h2>Trip/Travelling</h2>
                                    <p class="description">
                                        Enjoy traveling during school holidays or family gatherings and agency work visits
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services">
                            <div class="service">
                                <a href='@Url.Action("Bandara", "DetailServis")'>
                                    <img src="~/images/drop off bandara.png" alt="Alps"
                                         class="img-fluid img-thumbnail" style="width: 500px; height: 200px;">
                                </a>
                                <div class="post-entry-1-contents text-xl-center">
                                    <h2>Drop off Bandara</h2>
                                    <p class="description">
                                        Make it easier for the group to go to the airport, in order to travel.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services">
                            <div class="service">
                                <a href='@Url.Action("AntarJemput", "DetailServis")'>
                                    <img src="~/images/Antar-Jemput-Karyawan.jpg" alt="Alps"
                                         class="img-fluid img-thumbnail" style="width: 500px; height: 200px;">
                                </a>
                                <div class="post-entry-1-contents text-xl-center">
                                    <h2>Pick Up and Drop Off</h2>
                                    <p class="description">
                                        Serving shuttle employees, or just shuttle tourists.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services">
                            <div class="service">
                                <a href='@Url.Action("Mice", "DetailServis")'>
                                    <img src="~/images/mice.jpg" alt="Alps"
                                         class="img-fluid img-thumbnail" style="width: 500px; height: 200px;">
                                </a>
                                <div class="post-entry-1-contents text-xl-center">
                                    <h2>MICE</h2>
                                    <p>(Meeting, Incentive, Conference and Exhibition)</p>
                                    <p class="description">
                                        The MICE Event Bus Service provides the flexibility to modify the bus according to your event needs
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services">
                            <div class="service">
                                <a href='@Url.Action("Pengajian", "DetailServis")'>
                                    <img src="~/images/pengajian.jpg" alt="Alps"
                                         class="img-fluid img-thumbnail" style="width: 500px; height: 200px;">
                                </a>
                                <div class="post-entry-1-contents text-xl-center">
                                    <h2>Grand Assembly</h2>
                                    <p class="description">
                                        Increase our piety by pilgrimage / attending a grand assembly.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-light">
            <div class="container">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-12 text-lg-center" style="color:white; background-color:slategrey">
                        <h1><b>Customer Testimony</b></h1>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in ViewData["tesimoniuser"] as IEnumerable<Tricone.Models.testimoni>)
                    {
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <div class="testimonial-2">
                                <blockquote class="mb-4">
                                    <p>
                                        @item.MESSAGE
                                    </p>
                                </blockquote>
                            </div>
                            <div class="d-flex v-card align-items-center">
                                <span>From @item.NAMA</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @*<div class="site-section bg-light">
            <div class="container">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-12 text-lg-center" style="color:white; background-color:slategrey">
                        <h1><b>Customer Testimony</b></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="testimonial-2">
                            <blockquote class="mb-4">
                                <p>
                                    "Very satisfied .. with bus service from Tricone Travel"
                                </p>
                            </blockquote>
                            <div class="d-flex v-card align-items-center">
                                <img src="~/images/person_1.jpg" alt="Image" class="img-fluid mr-3">
                                <span>Biznet</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="testimonial-2">
                            <blockquote class="mb-4">
                                <p>
                                    "Thank you Tricone Travel, great experience, warm service, humble guide, well-structured schedule, and affordable prices"
                                </p>
                            </blockquote>
                            <div class="d-flex v-card align-items-center">
                                <img src="~/images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                                <span>Allianz</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="testimonial-2">
                            <blockquote class="mb-4">
                                <p>
                                    "Alhamdulillah, our family can have a New Year's holiday by renting Hiace here ... the fleet is good, clean, the latest and the price is cheap ... 👍"
                                </p>
                            </blockquote>
                            <div class="d-flex v-card align-items-center">
                                <img src="~/images/person_3.jpg" alt="Image" class="img-fluid mr-3">
                                <span>Pelita</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

}
else
{
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                WELCOME ADMIN
                <small>Keep Calm And Do It Carefully</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Layout</a></li>
                <li class="active">Fixed</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>@ViewBag.Supir</h3>
                            <p>Transaction Doesn't Have a Driver</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <a href="@Url.Action("index", "PilihSupir")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>@ViewBag.tranx<sup style="font-size: 20px"></sup></h3>
                            <p>Transaction</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <a href="@Url.Action("index", "transaksi")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>@ViewBag.resche</h3>
                            <p>Re-Schedule</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <a href="@Url.Action("index", "Reschedule")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>@ViewBag.refun</h3>
                            <p>Refund</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                        <a href="@Url.Action("index", "Refund")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
            </div><!-- /.row -->
        </section><!-- /.content -->

        <!--calender-->
        <section class="content-header">
            <h1 class="text-center">
                TRANSACTION EVENT CALENDAR
            </h1>
        </section>
        <section class="content">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calender"></div>
                </div><!-- /.box-body -->
            </div><!-- /. box -->

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><span id="eventTitle"></span></h4>
                        </div>
                        <div class="modal-body">
                            <p id="pDetails"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- /.content-wrapper -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

    @section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

        <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                "url": "@Url.Action("GetEvents", "Schedule")",
                "type": "GET",
                success: function (data) {
                    var warna = '';
                    var flag = 0;
                    $.each(data, function (i, v) {
                        if (flag == 0) {
                            warna = 'blue';
                        }
                        else { warna = 'green';}
                        events.push({
                            title: v.NAMA_MEMBER,
                            description: '<br>' + 'City Name    : ' + v.NAMA_KOTA +'<br/>' + 'Province Name : ' + v.NAMA_PROVINSI + '<br/>' + 'Total Transaction : ' + v.TOTAL_TRANSAKSI + '<br/>' + 'Note : ' + v.CATATAN,
                            start: moment(v.TGL_PERGI),
                            //end: v.TGL_PULANG != null ? moment(v.TGL_PULANG) : null,
                            end: moment(v.TGL_PULANG).add(1, 'days'),
                            color: warna,
                            allDay: true
                        });
                        if (flag != 0) {
                            flag = 0;
                        }
                        else { flag = 1; }
                    })
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: false,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>tgl_pergi:</b>' + calEvent.start.format("DD-MMM-YYYY")));
                        if (calEvent.end != null) {
                            var endate = calEvent.end.subtract(1,"days");
                            $description.append($('<p/>').html('<b>tgl_pulang:</b>' + endate.format("DD-MMM-YYYY")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                })
            }
        })
        </script>
    }

}
