﻿
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>

Welcome @HttpContext.Current.User.Identity.Name

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElemementById('logoutform').submit()">Logout</a>
    }
}