﻿@model Tricone.Models.TBL_TRANSAKSI
<style>
    body {
        background-color: #dadde6;
        font-family: arial
    }
</style>
<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <h1 style="color:white;">Re-Schedule</h1>
                    <p style="color:white;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section container">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("addonlydate", "ReScheduleUser", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="card bg-info text-white">
                            <div class="row">
                                <div class="card-body" style="text-align:center;">
                                    Fill Your Re-Schedule Request
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Your Date Transaction<span style="color:red;"> *</span></label>
                            <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_TRANSAKSI)</span>
                            @Html.DropDownListFor(Model => Model.ID_TRANSAKSI, new SelectList((from c in Model.transcollection.ToList() where c.APPROVAL==4 && c.STATUS_TRANSAKSI > 0 && c.STATUS_UBAH_JADWAL == null && c.ID_REFUND==null && c.ID_MEMBER == Convert.ToInt32(Session["ID_MEMBER"]) select new { nama_trx = string.Format("{0:dddd dd/MMMM/yyyy}", c.TGL_PERGI) + " - " + c.NAMA_KOTA, ID_TRANSAKSI = c.ID_TRANSAKSI }), "ID_TRANSAKSI", "nama_trx"), "Select Transaction", new { @class = "form-control", @id = "ID_TRANSAKSI" })
                        </div>
                    </div>
                    <div id="coba"></div>
                    <div class="form-group col-md-12">
                        <label for="startDate">Start Date<span style="color:red;"> *</span></label>
                        @Html.TextBoxFor(model => Model.TGL_PERGI, DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "form-control date", type = "date", required = "required" })
                    </div>

                    <div class="form-group col-md-12">
                        <label for="endDate" class="control-label">End Date<span style="color:red;"> *</span></label>
                        @Html.TextBoxFor(model => Model.TGL_PULANG, DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "form-control date", type = "date", required = "required" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Reason<span style="color:red;"> *</span></label>
                            @Html.ValidationMessageFor(model => model.KETERANGANUSER, "", new { @class = "text-danger" })
                            @Html.TextAreaFor(model => model.KETERANGANUSER, 3, 40, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Create Request" class="btn btn-outline-success" />
                            <a href="@Url.Action("Index", "ReScheduleUser")" type="button" class="btn btn-outline-info">Cancel</a>
                        </div>
                    </div>
                </div>
            }
            <div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script>
        $(function () {
            $("#ID_TRANSAKSI").change(function () {
                var id_tranks = parseInt(this.value);
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("tanggalmu", "ReScheduleUser")",
                    data: { "id_trans": id_tranks },
                    success: function (data) {
                        console.log(data);
                        data = JSON.parse(data);
                        console.log(data);
                        $("#coba").html("<div class='form-group'><div class= 'col-md-12'><div class='card bg-danger text-white'><div class='row'><div class='card-body' style='text-align:center;'>" + data + "</div></div></div></div></div>");
                    },
                    error: function () {
                        alert("Please Select Transaction");
                    }
                });
                return false;
            });
        });

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formData = new FormData($(form)[0]);
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success == true) {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                            window.location.href = data.redirectToUrl;
                        } else {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                        console.log(flag);
                    },
                    error: function () {
                        alert("please try again");
                    }
                });
            }
            return false;
        }
    </script>
}
