﻿
@{
    ViewBag.Title = "Index";
}

<style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        transition: 0.4s;
        font-family: Arial, Helvetica, sans-serif;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: antiquewhite;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    p {
        font-size: 20px;
    }
</style>

<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <br />
                    <h1 style="color:white;">FAQ</h1>
                    <h3 class="text-md-center" style="color:white;">Frequently Asked Questions</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <h1>The following are questions frequently asked by Tricone Travel customers</h1>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="container">
                @foreach (var item in ViewData["detailFAQ"] as IEnumerable<Tricone.Models.TBL_FAQ>)
                {
                    <button class="accordion" style="color: black;">
                        @item.PERTANYAAN
                    </button>
                    <div class="panel">
                        <p>
                            @item.JAWABAN
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
