﻿
@{
    ViewBag.Title = "jatim";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        margin: 0;
        font-family: "Lato", sans-serif;
    }

    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: absolute;
        height: 105%;
        overflow: auto;
    }

        .sidebar a {
            display: block;
            color: black;
            padding: 16px;
            text-decoration: none;
        }

            .sidebar a.active {
                background-color: #4CAF50;
                color: white;
            }

            .sidebar a:hover:not(.active) {
                background-color: #555;
                color: white;
            }

    div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
    }

    li {
        display: list-item;
    }

    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

        /* Style the sidenav links and the dropdown button */
        .sidenav a, .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }
            /* On mouse-over */
            .sidenav a:hover, .dropdown-btn:hover {
                color: #f1f1f1;
            }

    /* Main content */
    .main {
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    /* Add an active class to the active dropdown button */
    .active {
        background-color: green;
        color: white;
    }
</style>
<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <br />
                    <h1 style="color:white;">VEHICLE DETAILS</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="site-section 1 bg-light" id="contact-section">
        <div class="container">
            <div>
                <div class="sidebar">
                    <a href="@Url.Action("Index", "WisataUser")">All Province</a>
                    <a href="@Url.Action("Banten", "WisataUser")">Banten</a>
                    <a href="@Url.Action("Jabar", "WisataUser")">West Java</a>
                    <a href="@Url.Action("jkt", "WisataUser")">Jakarta</a>
                    <a href="@Url.Action("jateng", "WisataUser")">Central Java</a>
                    <a href="@Url.Action("jogja", "WisataUser")">DI Yogyakarta</a>
                    <a class="active" href="@Url.Action("jatim", "WisataUser")">East Java</a>
                </div>
                @foreach (var item in ViewData["detailwisata"] as IEnumerable<Tricone.Models.TBL_WISATA>)
                {
                    <div class="content">
                        <div class="row align-items-stretch">
                            <div class="col-lg-12 col-md-12 ml-lg-5">
                                <h1 class="text-lg-center text-white" style="background-color:slategrey">
                                    <b>
                                        @item.NAMA_WISATA
                                    </b>
                                </h1>
                                <br />
                                <div class="row">
                                    <div class="col-lg-7 mb-5">
                                        <div class="row col-12">
                                            <p class="text-justify" style="white-space: pre-line">
                                                @item.DESKRIPSI
                                            </p>
                                        </div>
                                    </div>
                                    <div class="rounded col-lg-5 ml-auto">
                                        <a href="#"><img src="@Url.Content("~/images/"+item.FOTO_DERSKRIPSI)" alt="Image" class="img-fluid" style="width:300px; height:300px;"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



