﻿
@{

    ViewBag.Title = "ForgotPassword";
}
@using (Html.BeginForm())
{
    <style>
        .form-control {
            height: 40px;
        }

        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
        }
    </style>
    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay innerpage" style="background-image: url('@Url.Content("~/images/bushd.jpg")')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8">
                        <!--form regist-->
                        <div class="container">
                            <div>
                                <div class="col-sm-11 mx-auto">
                                    <!--card card-signin my-5-->
                                    <div class="card card-signin my-5">
                                        <div class="card-body">
                                            <div class="col-12">
                                                <div class="card-title text-center">
                                                    <img src="@Url.Content("~/images/icontricone3.jpg")" width: 100%;height: 50;position: absolute; />
                                                    <h6>Forgot Password</h6>
                                                </div>
                                            </div>
                                            <br />
                                            <form class="form-signin">
                                                <div class="form-horizontal">
                                                    <div class="text-success">
                                                        @ViewBag.Message
                                                    </div>
                                                    <div class="row form-group">
                                                        <label class="control-label col-md-2">Email ID</label><i class="fa fa-user icon"></i>
                                                        @Html.TextBox("EmailID", "", new { @class = "form-control col-md-8" })
                                                    </div>
                                                    <br />
                                                    <div class="form-label-group text-center">
                                                        <div class="container col-sm-12">
                                                            <input type="submit" value="Submit" class="btn btn-success" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
