﻿
@{
    ViewBag.Title = "Index";
}

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('@Url.Content("~/images/bushd.jpg")')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <!--form regist-->
                    <div class="container">
                        <div>
                            <div class="col-sm-10 mx-auto">
                                <!--card card-signin my-5-->
                                <div class="card card-signin my-5">
                                    <div class="card-body">
                                        <div class="col-12">
                                            <div class="card-title text-center">
                                                <img src="@Url.Content("~/images/icontricone3.jpg")" width: 100%;height: 50;position: absolute; />
                                                <h6>Registration</h6>
                                            </div>
                                        </div>
                                        <form class="form-signin">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-label-group">
                                                        <label for="inputEmail">Nama</label>
                                                        <input style="border: 2px solid" type="text" id="nama" class="form-control" placeholder="Nama" required autofocus>
                                                    </div>
                                                    <div class="form-label-group">
                                                        <label for="inputEmail">Alamat</label>
                                                        <input style="border: 2px solid" type="text" id="alamat" class="form-control" placeholder="Alamat" required>
                                                    </div>
                                                    <div class="form-label-group">
                                                        <label for="inputEmail">No Telepon</label>
                                                        <input style="border: 2px solid" type="text" id="hp" class="form-control" placeholder="Nomor Telepon" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-label-group">
                                                        <label for="inputEmail">Email</label>
                                                        <input style="border: 2px solid" type="email" id="emal" class="form-control" placeholder="Email" required>
                                                    </div>
                                                    <div class="form-label-group">
                                                        <label for="inputEmail">Username</label>
                                                        <input style="border: 2px solid" type="text" id="username" class="form-control" placeholder="Username" required>
                                                    </div>

                                                    <div class="form-label-group">
                                                        <label for="inputPassword">Password</label>
                                                        <input style="border: 2px solid" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="container col-sm-4">
                                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registration</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>