﻿@model Tricone.Models.UserLogin

@{
    /**/

    ViewBag.Title = "Login";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <style>
        .form-control {
            height: 40px;
        }
        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }
        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
        }
    </style>
    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay innerpage" style="background-image: url('@Url.Content("~/images/bushd.jpg")')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8">
                        <!--form regist-->
                        <div class="container">
                            <div>
                                <div class="col-sm-10 mx-auto">
                                    <!--card card-signin my-5-->
                                    <div class="card card-signin my-5">
                                        <div class="card-body">
                                            <div class="col-12">
                                                <div class="card-title text-center">
                                                    <img src="@Url.Content("~/images/icontricone3.jpg")" width: 100%;height: 50;position: absolute; />
                                                    <h6>Login</h6>
                                                </div>
                                            </div>
                                            @if (ViewBag.Message != null)
                                            {
                                                <div class="alert alert-danger alert-dismissible">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    <strong>@ViewBag.Message</strong>
                                                </div>
                                            }
                                            <form class="form-signin">
                                                <div class="form-label-group">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label" })
                                                        <i class="text-danger">*</i>
                                                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-12 input-container">
                                                        <i class="fa fa-envelope-o icon"></i>
                                                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                                    </div>
                                                </div>

                                                <div class="form-label-group">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                                        <i class="text-danger">*</i>
                                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-12 input-container">
                                                        <i class="fa fa-key icon"></i>
                                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                                    </div>
                                                </div>


                                                <div class="form-label-group">
                                                    <div class="row col-md-12">
                                                        <div class="checkbox col-md-12">
                                                            @Html.EditorFor(model => model.RememberMe)
                                                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                                                            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-6" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="form-label-group">
                                                    <div class="container col-sm-4">
                                                        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block text-uppercase" />
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="form-label-group text-center">
                                                    <div class="container col-sm-11">
                                                        @Html.ActionLink("Register Now", "Registration", "Regist") ||
                                                        @Html.ActionLink("Forgot Password", "ForgotPassword", "Regist")
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
  


    <!--<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>-->

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
