﻿@model Tricone.Models.TBL_MEMBER

@{
    ViewBag.Title = "Registration";
}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <style>
            .form-control {
                height: 40px;
            }

            .input-container {
                display: -ms-flexbox; /* IE10 */
                display: flex;
                width: 100%;
                margin-bottom: 15px;
            }

            .icon {
                padding: 10px;
                background: dodgerblue;
                color: white;
                min-width: 50px;
                text-align: center;
            }
        </style>
        <div class="ftco-blocks-cover-1">
            <div class="ftco-cover-1 overlay innerpage" style="background-image: url('@Url.Content("~/images/bushd.jpg")'); height:1000px">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-8">
                            <!--form regist-->
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="container">
                                <div>
                                    <div class="col-sm-12 mx-auto">
                                        <!--card card-signin my-5-->
                                        <div class="card card-signin my-5">
                                            <div class="card-body col-12">
                                                <div class="col-12">
                                                    <div class="card-title text-center">
                                                        <img src="@Url.Content("~/images/icontricone3.jpg")" width: 100%;height: 50;position: absolute; />
                                                        <h6>Create An Account Member</h6>
                                                    </div>
                                                </div>
                                                @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                                                {
                                                    if (ViewBag.Message != null)
                                                    {
                                                        <div class="alert alert-success">
                                                            <strong>Success!</strong>@ViewBag.Message
                                                        </div>
                                                    }
                                                }
                                                <form class="form-signin">
                                                    <div>
                                                        <!--<div class="col-sm-6">-->
                                                        <div class="form-label-group">
                                                            <div class="col-md-12">
                                                                @Html.LabelFor(model => model.NAMA_MEMBER, htmlAttributes: new { @class = "control-label" })
                                                                <i class="text-danger">*</i>
                                                                @Html.ValidationMessageFor(model => model.NAMA_MEMBER, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="col-md-12 input-container">
                                                                <i class="fa fa-user icon"></i>
                                                                @Html.EditorFor(model => model.NAMA_MEMBER, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                        </div>

                                                        <div class="form-label-group">
                                                            <div class="col-md-12">
                                                                @Html.LabelFor(model => model.ALAMAT, htmlAttributes: new { @class = "control-label" })
                                                                <i class="text-danger">*</i>
                                                                @Html.ValidationMessageFor(model => model.ALAMAT, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="col-md-12 input-container">
                                                                <i class="fa fa-address-card icon"></i>
                                                                @Html.EditorFor(model => model.ALAMAT, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                        </div>

                                                        <div class="form-label-group">
                                                            <div class="col-md-12">
                                                                @Html.LabelFor(model => model.NO_TELEPON, htmlAttributes: new { @class = "control-label" })
                                                                <i class="text-danger">*</i>
                                                                @Html.ValidationMessageFor(model => model.NO_TELEPON, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="col-md-12 input-container">
                                                                <i class="fa fa-phone icon"></i>
                                                                @Html.EditorFor(model => model.NO_TELEPON, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                        </div>
                                                        <!--</div>
            <div class="col-sm-6">-->
                                                        <div class="form-label-group">
                                                            <div class="col-md-12">
                                                                @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label" })
                                                                <i class="text-danger">*</i>
                                                                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                                                                @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="col-md-12 input-container">
                                                                <i class="fa fa-envelope-o icon"></i>
                                                                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                        </div>

                                                        <div class="form-label-group">
                                                            <div class="col-md-12">
                                                                @Html.LabelFor(model => model.USERNAME, htmlAttributes: new { @class = "control-label" })
                                                                <i class="text-danger">*</i>
                                                                @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="col-md-12 input-container">
                                                                <i class="fa fa-envelope-o icon"></i>
                                                                @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-label-group">
                                                                    <div class="col-md-12">
                                                                        @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label" })
                                                                        <i class="text-danger">*</i>
                                                                        @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="col-md-12 input-container">
                                                                        <i class="fa fa-lock icon"></i>
                                                                        @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-label-group">
                                                                    <div class="col-md-12">
                                                                        @Html.LabelFor(model => model.CONFIRMPASSWORD, htmlAttributes: new { @class = "control-label" })
                                                                        <i class="text-danger">
                                                                            *
                                                                        </i>
                                                                    </div>
                                                                    <div class="col-md-12 input-container">
                                                                        <i class="fa fa-lock icon"></i>
                                                                        @Html.EditorFor(model => model.CONFIRMPASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                            @Html.ValidationMessageFor(model => model.CONFIRMPASSWORD, "", new { @class = "text-danger" })
                                                        </div>
                                                        <!--</div>-->
                                                    </div>
                                                    <br />
                                                    <div class="container col-sm-4">
                                                        <input type="submit" value="Create" class="btn btn-lg btn-primary btn-block text-uppercase" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        /*if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Error!</strong>@ViewBag.Message
            </div>
        }*/
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
