﻿@model Tricone.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <style>
        .form-control {
            height: 40px;
        }

        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
        }
    </style>
    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay innerpage" style="background-image: url('@Url.Content("~/images/bushd.jpg")')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8">
                        <!--form regist-->
                        <div class="container">
                            <div>
                                <div class="col-sm-10 mx-auto">
                                    <!--card card-signin my-5-->
                                    <div class="card card-signin my-5">
                                        <div class="card-body">
                                            <div class="col-12">
                                                <div class="card-title text-center">
                                                    <img src="@Url.Content("~/images/icontricone3.jpg")" width: 100%;height: 50;position: absolute; />
                                                    <h6>Reset Password</h6>
                                                </div>
                                            </div>
                                            <form class="form-signin">
                                                <div class="form-horizontal">
                                                    <div class="text-success">
                                                        @ViewBag.Message
                                                        @if (ViewBag.Message != null)
                                                        {
                                                            @Html.ActionLink("Login", "Login", "Regist")
                                                        }
                                                    </div>
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-12" })
                                                        <div class="col-md-12 input-container">
                                                            <i class="fa fa-lock icon"></i>
                                                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-12" })
                                                        <div class="col-md-12 input-container">
                                                            <i class="fa fa-lock icon"></i>
                                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.HiddenFor(a => a.ResetCode)
                                                    </div>
                                                    <div class="form-label-group text-center">
                                                        <div class="container col-sm-4">
                                                            <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
