﻿
@{
    ViewBag.Title = "VerifyAccount";
}
<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('@Url.Content("~/images/bushd.jpg")')">
        <div class="container">
            <br /><br /><br />
            @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
            {
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="alert alert-success">
                    <strong>Success!</strong> Your account has been activated successfully. Click here to @Html.ActionLink("Login", "Login", "Regist")
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong> @ViewBag.Message
                </div>
            }
        </div>
    </div>
</div>