﻿﻿@model Tricone.Models.TBL_FAQ
@{
    Layout = null;
}
@using (Html.BeginForm("AddorEdit", "faqadmin", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID_FAQ)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">QUESTION<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.PERTANYAAN, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Question" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.PERTANYAAN)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">ANSWERS<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.JAWABAN, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Answer" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.JAWABAN)</span>
        </div>
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}
