﻿
@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: #dadde6;
        /*font-family: 'Oswald', sans-serif;
        display: flex;*/
        align-items: center;
        min-height: 100vh;
    }

    .owl-prev, .owl-next {
        display: none;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    .service {
        margin: 10px;
        overflow: hidden;
        padding: 35px 15px;
        position: relative;
        text-align: center;
        transition: background-color 0.3s ease-in, transform 0.3s ease-in;
    }

        .service:hover {
            background-color: #0094ff;
            transform: translateY(-3px);
        }

        .service::before {
            content: '';
            border-width: 20px;
            border-style: solid;
            border-color: #222f3e #222f3e rgba(1,1,1,0.4) rgba(0,0,0,0.4);
            position: absolute;
            right: -40px;
            top: -40px;
            transition: right 0.3s ease-out, top 0.3s ease-out;
        }
        .service:hover::before {
            right: 0;
            top:0;
        }
        .service > i {
            display:block;
            color: #4800ff;
            font-size: 4rem;
            margin-bottom: 0.9rem;
            transition: color 0.3s ease-out;
        }
        .service > .title{
            font-weight: 900;
            font-size: 1.2rem;
            line-height: 1.55rem;
            text-transform: capitalize;
            transition: color 0.3s ease-out;
        }

    p {
        color: #000000;
        font-size: 20px;
    }

    .textBox {
        height: 30px;
        width: 300px;
    }

    .button {
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

</style>

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <br />
                    <h1 style="color:white;">DISCOUNT</h1>
                    @*<h3 class="text-md-center" style="color:white;">Frequently Asked Questions</h3>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
            <div class="col-md-10">
                <h1>Come on, make your dream vacation come true with various promo choices from Tricone Travel!</h1>
                <p>Find all the attractive promos right now</p>
            </div>
        </div>
        <div>
            <div class="col-lg-12">
                <div class="nonloop-block-13 owl-carousel">
                    @foreach (var item in ViewData["promolist"] as IEnumerable<Tricone.Models.TBL_PROMO>)
                    {
                        <div class="service">
                            <a href="#"><img src="@Url.Content("~/images/"+item.FOTO_PROMO)" alt="Image" class="img-fluid" style="width:300px; height:300px;"></a>
                            <div class="post-entry-1-contents text-xl-center">
                                <p id="p2" style="color: black"><b>@item.KODE_PROMO</b></p>
                                <p>
                                    valid until <a>@item.ENDDATE.Value.ToString("dd MMMM yyyy")</a>
                                </p><br />
                                <button onclick="copyToClipboard('#p2')" class="button">Copy</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
