﻿<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <br />
                    <h1 style="color:white;">How To Book</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #dadde6;
    }
    .steps-form-3 {
        width: 2px;
        height: 470px;
        position: relative;
    }

        .steps-form-3 .steps-row-3 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .steps-form-3 .steps-row-3:before {
                top: 14px;
                bottom: 0;
                position: absolute;
                content: "";
                width: 2px;
                height: 100%;
                background-color: #7283a7;
            }

            .steps-form-3 .steps-row-3 .steps-step-3 {
                height: 150px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                text-align: center;
                position: relative;
            }

                .steps-form-3 .steps-row-3 .steps-step-3.no-height {
                    height: 50px;
                }

                .steps-form-3 .steps-row-3 .steps-step-3 p {
                    margin-top: 0.5rem;
                }

                .steps-form-3 .steps-row-3 .steps-step-3 button[disabled] {
                    opacity: 1 !important;
                    filter: alpha(opacity=100) !important;
                }

                .steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3 {
                    width: 60px;
                    height: 60px;
                    border: 2px solid #59698D;
                    background-color: white !important;
                    color: #59698D !important;
                    border-radius: 50%;
                    padding: 18px 18px 15px 15px;
                    margin-top: -22px;
                }

                    .steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3:hover {
                        border: 2px solid #4285F4;
                        color: #4285F4 !important;
                        background-color: white !important;
                    }

                    .steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3 .fa {
                        font-size: 1.7rem;
                    }
</style>

<div class="container site-section">
    <div class="card">
        <div class="card-body">
            <!-- Grid row -->
            <div class="row pt-5 d-flex justify-content-center">

                <!-- Grid column -->
                <div class="col-md-2 pl-5 pl-md-0 pb-5">

                    <!-- Stepper -->
                    <div class="steps-form-3">
                        <div class="steps-row-3 setup-panel-3 d-flex justify-content-between">
                            <div class="steps-step-3">
                                <a href="#step-5" type="button" class="btn btn-info btn-circle-3 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fa-calendar text-success" aria-hidden="true"></i></a>
                            </div>
                            <div class="steps-step-3">
                                <a href="#step-6" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fa-shopping-cart text-primary" aria-hidden="true"></i></a>
                            </div>
                            <div class="steps-step-3">
                                <a href="#step-7" type="button" class="btn btn-pink btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fa-wpforms text-warning" aria-hidden="true"></i></a>
                            </div>
                            <div class="steps-step-3 no-height">
                                <a href="#step-8" type="button" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Basic Information"><i class="fa fa-picture-o text-info" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-body text-primary" style="text-align:center;">
                            <form role="form" action="" method="post">
                                <!-- First Step -->
                                <div class="row setup-content-3" id="step-5">
                                    <div class="col-md-12">
                                        <h3 class="font-weight-bold pl-0 my-4"><strong>Choose Date & City</strong></h3>
                                        <hr />
                                        <div class="form-group md-form">
                                            <img src="@Url.Content("~/images/howtobook1.png")" alt="Image" class="img-fluid" style="width:auto; height:auto;">
                                            <p>Click the "book now" menu then select the date you want, as well as the city you want. after that click submit.</p>
                                        </div>
                                        <div class="form-group md-form">
                                            <img src="@Url.Content("~/images/howtobook2.png")" alt="Image" class="img-fluid" style="width:auto; height:auto;">
                                            <p>After submitting, you will get a choice of cars. select the car you want by clicking "add to cart".</p>
                                        </div>
                                        <button class="btn btn-primary btn-rounded nextBtn-3 float-right" type="button">Next</button>
                                    </div>
                                </div>


                                <!-- Second Step -->
                                <div class="row setup-content-3" id="step-6">
                                    <div class="col-md-12">
                                        <h3 class="font-weight-bold pl-0 my-4"><strong>Make Sure The Cart & Checkout</strong></h3>
                                        <hr />
                                        <div class="form-group md-form">
                                            <img src="@Url.Content("~/images/howtobook4.png")" alt="Image" class="img-fluid" style="width:auto; height:auto;">
                                            <p>Click the cart button to view your ticket. then click cart details to see your order details.</p>
                                        </div>
                                        <div class="form-group md-form">
                                            <img src="@Url.Content("~/images/howtobook3.png")" alt="Image" class="img-fluid" style="width:auto; height:auto;">
                                            <p>Here you can add the number of vehicles, add notes and also enter discount coupons and see the total transactions you have to pay. after that you can click on the "checkout" button to continue the payment process.</p>
                                        </div>
                                        <button class="btn btn-secondary btn-rounded prevBtn-3 float-left" type="button">Previous</button>
                                        <button class="btn btn-primary btn-rounded nextBtn-3 float-right" type="button">Next</button>
                                    </div>
                                </div>


                                <!-- Third Step -->
                                <div class="row setup-content-3" id="step-7">
                                    <div class="col-md-12">
                                        <h3 class="font-weight-bold pl-0 my-4"><strong>Fill Form Payment</strong></h3>
                                        <div class="form-group md-form">
                                            <img src="@Url.Content("~/images/howtobookpayment.png")" alt="Image" class="img-fluid" style="width:auto; height:auto;">
                                            <p>Fill in the payment form to tell the admin where you transferred the car rental payment from. You also have to agree to the terms and conditions that apply in tricone travel. then you can click the submit button.</p>
                                        </div>
                                        <button class="btn btn-secondary btn-rounded prevBtn-3 float-left" type="button">Previous</button>
                                        <button class="btn btn-primary btn-rounded nextBtn-3 float-right" type="button">Next</button>
                                    </div>
                                </div>


                                <!-- Fourth Step -->
                                <div class="row setup-content-3" id="step-8">
                                    <div class="col-md-12">
                                        <h3 class="font-weight-bold pl-0 my-4"><strong>Upload Payment Picture & Finish</strong></h3>
                                        <div class="form-group md-form">
                                            <img src="@Url.Content("~/images/howtobookupload.png")" alt="Image" class="img-fluid" style="width:auto; height:auto;">
                                            <p>Then you will be directed to the schedule page. there you can immediately confirm payment by uploading a photo of proof of transfer. Then the order process is complete, you have to wait for confirmation from the admin to check the proof of your transaction.</p>
                                        </div>
                                        <h2 class="text-center font-weight-bold my-4">Booking completed!</h2>
                                        <button class="btn btn-secondary btn-rounded prevBtn-3 float-left" type="button">Previous</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                    <!-- Grid column -->

                </div>
            <!-- Grid row -->
            </div>
        </div>
    </div>
    @section scripts{
        <script>
            $(document).ready(function () {
                var navListItems = $('div.setup-panel-3 div a'),
                    allWells = $('.setup-content-3'),
                    allNextBtn = $('.nextBtn-3'),
                    allPrevBtn = $('.prevBtn-3');

                allWells.hide();

                navListItems.click(function (e) {
                    e.preventDefault();
                    var $target = $($(this).attr('href')),
                        $item = $(this);

                    if (!$item.hasClass('disabled')) {
                        navListItems.removeClass('btn-info').addClass('btn-pink');
                        $item.addClass('btn-info');
                        allWells.hide();
                        $target.show();
                        $target.find('input:eq(0)').focus();
                    }
                });

                allPrevBtn.click(function () {
                    var curStep = $(this).closest(".setup-content-3"),
                        curStepBtn = curStep.attr("id"),
                        prevStepSteps = $('div.setup-panel-3 div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

                    prevStepSteps.removeAttr('disabled').trigger('click');
                });

                allNextBtn.click(function () {
                    var curStep = $(this).closest(".setup-content-3"),
                        curStepBtn = curStep.attr("id"),
                        nextStepSteps = $('div.setup-panel-3 div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                        curInputs = curStep.find("input[type='text'],input[type='url']"),
                        isValid = true;

                    $(".form-group").removeClass("has-error");
                    for (var i = 0; i < curInputs.length; i++) {
                        if (!curInputs[i].validity.valid) {
                            isValid = false;
                            $(curInputs[i]).closest(".form-group").addClass("has-error");
                        }
                    }

                    if (isValid)
                        nextStepSteps.removeAttr('disabled').trigger('click');
                });

                $('div.setup-panel-3 div a.btn-info').trigger('click');
            });
        </script>
    }
