﻿<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <h1 style="color:white;">Your Schedule</h1>
                    <p style="color:white;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="site-section container">
    <div style="margin-bottom:5px;">
        <a href="@Url.Action("index", "ReScheduleUser")" type="button" class="btn btn-outline-primary btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Re-Schedule</a>
        <a href="@Url.Action("Index", "RefundUser")" type="button" class="btn btn-outline-danger btn-xs"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Refund</a>
    </div>
    <hr />
    <table class="table table-bordered table-striped" id="example">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>City</th>
                <th>Transfer Pic</th>
                <th>Approval</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            datatable = $('#example').DataTable({
                "ajax": {
                    "url": "@Url.Action("Getdata", "ScheduleUser")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "TGL_PERGI", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "TGL_PULANG", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    { "data": "NAMA_KOTA" },
                    {
                        "data": "FOTO_PEMBAYARAN", "render": function (data) {
                            if (data != null) {
                                var ROOT = '@Url.Content("~/images/")';
                                return "<div style='text-align:center;'><img src='" + ROOT + data + "' width='80' height='80' class='img-rounded'/></div>";
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "APPROVAL", render: function (data) {
                            var appr = '';
                            if (data == 1) {
                                appr = 'Waiting Payment';
                            } else if (data == 2) {
                                appr = 'Waiting Approval';
                            } else if (data == 3) {
                                appr = 'Rejected';
                            } else if (data == 4) {
                                appr = 'Approved';
                            } else if (data == 5) {
                                appr = 'Approved, Waiting Approval';
                            } else if (data == 6) {
                                appr = 'Closed';
                            } else if (data == 7) {
                                appr = 'Reschedule';
                            } else if (data == 8) {
                                appr = 'Cancelled';
                            }
                            return appr;
                        }
                    }, {
                        "data": "STATUS", render: function (data) {
                            var stat = '';
                            if (data == 1) {
                                stat = 'Active';
                            } else if (data == 0) {
                                stat = 'In Active';
                            }
                            return stat;
                        }
                    },
                    {

                        "data": "ID_TRANSAKSI", "render": function (data, type, row) {
                            if ((row.APPROVAL === 6 && row.STATUS === 0) || (row.APPROVAL === 4 && row.STATUS === 1)) {
                                return "<a type='button' class= 'btn btn-outline-info btn-xs' onclick = 'Menage3(\"" + data + "\")'><i class='fa fa-comments' aria-hidden='true'></i></a>" +
                                    "<a style='margin-left:5px;' type='button' class='btn btn-outline-secondary btn-xs' onclick='Menage2(\"" + data + "\")'><i class='fa fa-newspaper-o' aria-hidden='true'></i></a>";
                            } else if (row.APPROVAL === 8 && row.STATUS === 0) {
                                return "<a style='margin-left:5px;' type='button' class='btn btn-outline-secondary btn-xs' onclick='Menage2(\"" + data + "\")'><i class='fa fa-newspaper-o' aria-hidden='true'></i></a>";
                            }
                            else {
                            return "<a type='button' class='btn btn-outline-success btn-xs' onclick=PopupForm('@Url.Action("Pembayaran", "ScheduleUser")/" + data + "')><i class='fa fa-money' aria-hidden='true'></i></a>" +
                                "<a style='margin-left:5px;' type='button' class= 'btn btn-outline-info btn-xs' onclick = 'Menage1(\"" + data + "\")'><i class='fa fa-bank' aria-hidden='true'></i></a>" +
                                "<a style='margin-left:5px;' type='button' class='btn btn-outline-secondary btn-xs' onclick='Menage2(\"" + data + "\")'><i class='fa fa-newspaper-o' aria-hidden='true'></i></a>";
                            }
                        },
                        "orderable": false,
                        "width":"150px"
                    }
                ], "order": [],
                "language": {
                    "emptyTable":"No Data Found, Please click on <b>Create New</b> Button"
                }
            });
        });

        function Menage1( id ) {
        var url = '@Url.Action("Rekening", "ScheduleUser", new { id = "__id__" })';
        window.location.href = url.replace('__id__', id);
        }

        function Menage2( id ) {
        var url = '@Url.Action("detailbayar", "ScheduleUser", new { id = "__id__" })';
        window.location.href = url.replace('__id__', id);
        }

        function Menage3( id ) {
        var url = '@Url.Action("Testimoni", "TestimoniAdmin", new { id = "__id__" })';
        window.location.href = url.replace('__id__', id);
        }

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Comfirm Payment',
                    height: 200,
                    width: 500,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formData = new FormData($(form)[0]);
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            datatable.ajax.reload(null, false);

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }
    </script>
}
