﻿@model Tricone.Models.TBL_PEMBAYARAN

<style>
    body {
        background-color: #dadde6;
        font-family: arial
    }
</style>
<div class="ftco-blocks-cover-1">
    <div class="site-section section-3" style="background-image: url('@Url.Content("~/images/bushd.jpg")');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <br />
                    <h1 style="color:white;">Choose Your Payment</h1>
                    <p style="color:white;"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section container">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Payment", "ScheduleUser", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="card bg-info text-white">
                            <div class="row">
                                <div class="card-body" style="text-align:left; margin-left:10px;">
                                    Tricone Account Number<br />
                                    Account Name : Tricone Travel<br />
                                    Account Number : BCA-229485394
                                </div>
                                <div class="card-body" style="text-align:right; margin-right:10px;">
                                    <img src="@Url.Content("~/images/barcode_Tricone.png")" alt="Image" class="img-fluid" style="width:auto; height:100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <input type="hidden" name="id_trx" id="id_trx" value="@ViewBag.id_trans" />
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Bank<span style="color:red;"> *</span></label>
                        <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_BANK)</span>
                        @Html.DropDownListFor(model => Model.ID_BANK, new SelectList(Model.bankcollection, "ID_BANK", "NAMA_BANK"), "Select Bank", new { @class = "form-control"})
                    </div>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Account Name<span style="color:red;"> *</span></label>
                        <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA_REKENING)</span>
                        @Html.EditorFor(model => model.NAMA_REKENING, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Account Name" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Account Number<span style="color:red;"> *</span></label>
                        <span style="color:red;">@Html.ValidationMessageFor(model => model.NOMOR_REKENING)</span>
                        @Html.EditorFor(model => model.NOMOR_REKENING, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Account Number", @type = "number"} })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Paid Amount<span style="color:red;"> *</span></label>
                        <span style="color:red;">@Html.ValidationMessageFor(model => model.JUMLAH_BAYAR)</span>
                        @Html.EditorFor(model => model.JUMLAH_BAYAR, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Paid Amount", @disabled = "disabled" } })
                        @Html.HiddenFor(model => model.JUMLAH_BAYAR)
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control col-md-12" style="background-color: #eee;
            height: 300px;
            border: 1px dotted black;
            overflow: auto;">
                        <div class="col-lg-12 mr-auto">
                            <h2 class="text-md-center">Tricone Travel Term Of Service</h2>
                            <br />
                            <div class="text-justify">
                                <c>
                                    USE
                                </c>
                                <ol>
                                    <li>Prices Include Parking, Toll, Dining Driver & Kernet</li>
                                    <li>Prices do not include accommodation, crew tips, travel tickets, and crossing.</li>
                                    <li>Orders will be processed if you have made a payment.</li>
                                    <li>An additional fee will be charged for pick ups outside the zone provided.</li>
                                    <li>Tenants are not allowed to smoke in the car.</li>
                                    <li>Prices do not include insurance</li>
                                    <li>Prices do not include tax</li>
                                    <li>Prices can change at any time and Tricone Travel can cancel the booking if deemed unsuitable due to misinformation on the product including specifications and prices</li>
                                </ol>
                            </div>
                            <div class="text-justify">
                                <c>
                                    Refund & Reschedule
                                </c>
                                <ol>
                                    <li>Cancellations 7 days prior to date of departure will be subject to a 100% cancellation fee</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="checkme" onchange="document.getElementById('diceklis').disabled = !this.checked;"> I accept to the term and condition</label>
                    </div>
                </div>
                <div class="form-label-group">
                    <div class="container col-sm-12" style="margin-top:10px;">
                        <input type="submit" value="submit" class="btn btn-primary" id="diceklis" disabled />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")