﻿@model Tricone.Models.MS_BANK
@{
    Layout = null;
}

@using (Html.BeginForm("AddorEdit", "bank", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID_BANK)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Bank Name<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.NAMA_BANK, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Bank Name" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA_BANK)</span>
        </div>
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}
