﻿@model Tricone.Models.TBL_PROMO

@{
    /**/

    Layout = null;
}

@using (Html.BeginForm("AddorEdit", "promo", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID_PROMO)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">CODE DISCOUNT<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.KODE_PROMO, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Code Discount" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.KODE_PROMO)</span>
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">PERCENT(%)<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.PERSEN, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "PERCENT (%)" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.PERSEN)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Start Date<span style="color:red;"> *</span></label>
            <i class="fa fa-calendar icon"></i>
            @Html.EditorFor(model => model.STARTDATE, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Start Date" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.STARTDATE)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">End Date<span style="color:red;"> *</span></label>
            <i class="fa fa-calendar icon"></i>
            @Html.EditorFor(model => model.ENDDATE, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "End Date" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ENDDATE)</span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="@(Model.ID_PROMO != 0 ? "col-md-8" : "col-md-12")">
            <label class="control-label">Image<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.FOTO_PROMO)</span>
            <div class="form-control col-md-12">
                <input type="file" name="filebase" @(Model.ID_PROMO == 0 ? "required" : "") />
            </div>
        </div>
        @if (Model.ID_PROMO != 0)
        {
            @Html.HiddenFor(model => model.FOTO_PROMO)
            <div class="col-md-4" style="margin-top:10px;">
                <img src="@Url.Content("~/images/"+Model.FOTO_PROMO)" width="100" height="100" />
            </div>
        }
    </div>
    <br />
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}
    <script>
    $(document).ready(function () {
        $("#STARTDATE").datepicker({
            numberOfMonths: 2,
            dateFormat: "yy-mm-dd",
            minDate: 0,
            maxDate: new Date($("#ENDDATE").val()),
            onClose: function (selected) {
                $("#ENDDATE").datepicker("option", "minDate", selected);
            }
        });
        $("#ENDDATE").datepicker({
            numberOfMonths: 2,
            dateFormat: "yy-mm-dd",
            minDate: new Date($("#STARTDATE").val()),
            onClose: function (selected) {
                $("#STARTDATE").datepicker("option", "maxDate", selected);
            }
        });
    });
    </script>
