﻿@model IEnumerable<Tricone.Models.TBL_PROMO>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Master Data Discount
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-database"></i> Master Data</a></li>
            <li class="active">Discount</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddorEdit","promo")')"><i class="fa fa-plus"></i> Create New</a>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style='text-align: center;'>
                                        Discount Code
                                    </th>
                                    <th style='text-align: center;'>
                                        Percent(%)
                                    </th>
                                    <th style='text-align: center;'>
                                        Start Date
                                    </th>
                                    <th style='text-align: center;'>
                                        End Date
                                    </th>
                                    <th style='text-align: center;'>
                                        Status
                                    </th>
                                    <th style='text-align: center;'>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section scripts{
<script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script type="text/javascript">
        var Popup, dataTable;
        $(document).ready(function () {
            datatable = $('#example1').DataTable({
                "ajax": {
                    "url": "@Url.Action("Getdata", "promo")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "KODE_PROMO" },
                    { "data": "PERSEN" },
                    {
                        "data": "STARTDATE", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "ENDDATE", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "FOTO_PROMO", "render": function (data) {
                            var ROOT = '@Url.Content("~/images/")';
                            return "<div style='text-align:center;'><img src='" + ROOT + data + "' width='80' height='80' class='img-rounded'/></div>"; }
                    },
                    {
                        "data": "ID_PROMO", "render": function (data) {
                            return "<div style= 'text-align: center;'><a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","promo")/" + data + "')><i class='fa fa-pencil'></i> Edit</a>"
                        },
                        "orderable": false,
                        "width":"150px"
                    }
                ],
                "order": [],
                "language": {
                    "emptyTable":"No Data Found, Please click on <b>Create New</b> Button"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Discount Details',
                    height: 500,
                    width: 500,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }

         function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formData = new FormData($(form)[0]);
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            datatable.ajax.reload(null, false);

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if (confirm('Are you sure to delete ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","promo")/' + id,
                    success: function (data) {
                        if (data.success) {
                            datatable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "bottom center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }
</script>
}

