﻿@model Tricone.Models.detail_supir

@{
    Layout = null;
}

@using (Html.BeginForm("AddorEdit", "PilihSupir", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Select A Car<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_PEMESANAN)</span>
            @Html.DropDownListFor(Model => Model.ID_PEMESANAN, new SelectList((from c in Model.detailcollection.ToList() where c.id_transaksi == ViewBag.idtrans select new { nama_trx = c.nama_kendaraan, ID_PEMESANAN = c.id_pemesanan }), "ID_PEMESANAN", "nama_trx"), "Select Transaction", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            <label class="control-label">Select A Driver<span style="color:red;"> *</span></label>
            <div id="inputFormRow">
                <div class="row col-md-12">
                    @Html.DropDownListFor(p => Model.ID_SUPIR, new SelectList((from c in Model.supircollection.ToList() select new { nama_trx = c.NAMA_SUPIR, ID_SUPIR = c.ID_SUPIR }), "ID_SUPIR", "nama_trx"), "Select Driver", new { @class = "form-control", @name = "ID_SUPIR[]" })
                </div>
                <div class="row col-md-1" style="text-align:right;">
                    <button id="removeRow" type="button" class="btn btn-danger btn-md"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
            <div id="newRow"></div>
            <button id="addRow" type="button" class="btn btn-info">Add More Driver</button>
        </div>
    </div>

    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
    }

        <script>
            // add row
            $("#addRow").click(function () {
                var html = '';
                html += '<div id="inputFormRow">';
                html += '<div class="row col-md-12">';
                html += '@Html.Raw(Ajax.JavaScriptStringEncode(Html.DropDownListFor(m=>m.ID_SUPIR, new SelectList((from c in Model.supircollection.ToList() select new { nama_trx = c.NAMA_SUPIR, ID_SUPIR = c.ID_SUPIR }), "ID_SUPIR", "nama_trx"), "Select Driver", new { @class = "col-md-8 form-control", @name = "ID_SUPIR[]" }).ToHtmlString()))';
                html += '</div>';
                html += '<div class="row col-md-1" style="text-align:right;">';
                html += '<button id="removeRow" type="button" class="btn btn-danger btn-md"><i class="fa fa-trash" aria-hidden="true"></i></button>';
                html += '</div>';
                html += '</div>';

                $('#newRow').append(html);
            });
            // remove row
            $(document).on('click', '#removeRow', function () {
                $(this).closest('#inputFormRow').remove();
            });
        </script>
