﻿@model Tricone.Models.v_detail_pesan
@{
    /**/

    ViewBag.Title = "Details";
}

<link href="~/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            DETAIL TRANSACTION
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-database"></i>Detail Transaction</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddorEdit","PilihSupir")/@ViewBag.id_trans')"><i class="fa fa-plus"></i> Choose A Driver</a>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <input type="hidden" name="trans" id="trans" value="@ViewBag.id_trans" />
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style='text-align: center;'>
                                        Member Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Vehicle Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Price
                                    </th>
                                    <th style='text-align: center;'>
                                        Day Off Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Start Date
                                    </th>
                                    <th style='text-align: center;'>
                                        End Date
                                    </th>
                                    <th style='text-align: center;'>
                                        City Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Total Vehicle
                                    </th>
                                    <th style='text-align: center;'>
                                        See Driver
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/plugins/select2/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script type="text/javascript">
        var Popup, dataTable;
        $(document).ready(function () {
            var id_trans = $('#trans').val();
            datatable = $('#example1').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetdataDetail", "transaksi")",
                    "type": "GET",
                    "data": {id_trans},
                    "datatype": "json"
                },
                "columns": [
                    { "data": "nama_member" },
                    { "data": "nama_kendaraan" },
                    { "data": "harga" },
                    { "data": "nama_harilibur" },
                    {
                        "data": "tgl_pergi", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "tgl_pulang", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    { "data": "nama_kota" },
                    { "data": "quantity_kendaraan" },
                    {
                        "data": "id_pemesanan", "render": function (data) {
                            return "<div style= 'text-align: center;'><a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("SeeDriver", "PilihSupir")/" + data + "')><i class='fa fa-eye'></i> Driver</a></div> "
                        },
                        "orderable": false,
                        "width":"150px"
                    }
                ], "order": [],
                "language": {
                    "emptyTable":"No Data Found"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Driver',
                    height: 500,
                    width: 500,
                    open: function () {
                        if ($.ui && $.ui.dialog && !$.ui.dialog.prototype._allowInteractionRemapped && $(this).closest(".ui-dialog").length) {
                            if ($.ui.dialog.prototype._allowInteraction) {
                                $.ui.dialog.prototype._allowInteraction = function (e) {
                                    if ($(e.target).closest('.select2-drop').length) return true;
                                    return ui_dialog_interaction.apply(this, arguments);
                                };
                                $.ui.dialog.prototype._allowInteractionRemapped = true;
                            }
                            else {
                                $.error("You must upgrade jQuery UI or else.");
                            }
                        }
                    },
                    _allowInteraction: function (event) {
                        return !!$(event.target).is(".select2-input") || this._super(event);
                    },
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
                $(".select2").select2();
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            datatable.ajax.reload(null, false);

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className : "success"
                            })
                        }
                    }
                });
            }
            return false;
        }
    </script>
}