﻿@model IEnumerable<Tricone.Models.TBL_TRANSAKSI>
@{
    ViewBag.Title = "Index";
}

<link href="~/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            TRANSACTION
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-database"></i> Waiting Driver</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style='text-align: center;'>
                                        Member Name
                                    </th>
                                    <th style='text-align: center;'>
                                        Total Transaction
                                    </th>
                                    <th style='text-align: center;'>
                                        Payment Photo
                                    </th>
                                    <th style='text-align: center;'>
                                        Start Date
                                    </th>
                                    <th style='text-align: center;'>
                                        End Date
                                    </th>
                                    <th style='text-align: center;'>
                                        Approval
                                    </th>
                                    <th style='text-align: center;'>
                                        Admin Description
                                    </th>
                                    <th style='text-align: center;'>
                                        User Description
                                    </th>
                                    <th style='text-align: center;'>
                                        Status
                                    </th>
                                    <th style='text-align: center;'>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" crossorigin="anonymous"></script>
    <script src="~/plugins/select2/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script type="text/javascript">
        var Popup, dataTable;
        $(document).ready(function () {
            datatable = $('#example1').DataTable({
                "ajax": {
                    "url": "@Url.Action("Getdata", "PilihSupir")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "NAMA_MEMBER" },
                    {
                        "data": "TOTAL_TRANSAKSI",
                       render: $.fn.dataTable.render.number('\.', '.', 0, 'Rp.', '')
                    },
                    {
                        "data": "FOTO_PEMBAYARAN", "render": function (data) {
                            if (data != null) {
                                var ROOT = '@Url.Content("~/images/")';
                                return "<div style='text-align:center;'><img src='" + ROOT + data + "' width='80' height='80' class='img-rounded'/></div>";
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        "data": "TGL_PERGI", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "TGL_PULANG", render: function (data) {
                            return moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "APPROVAL", render: function (data) {
                            var appr = '';
                            if (data == 1) {
                                appr = 'Waiting Payment';
                            } else if (data == 2) {
                                appr = 'Waiting Approval';
                            } else if (data == 3) {
                                appr = 'Rejected';
                            } else if (data == 4) {
                                appr = 'Approved';
                            } else if (data == 5) {
                                appr = 'Approved, Waiting Approval';
                            } else if (data == 6) {
                                appr = 'Closed';
                            } else if (data == 7) {
                                appr = 'Reschedule';
                            }
                            return appr;
                        }
                    },
                    { "data": "KETERANGANADMIN" },
                    { "data": "KETERANGANUSER" },
                    {
                        "data": "STATUS", render: function (data) {
                            var stat = '';
                            if (data == 1) {
                                stat = 'Active';
                            } else if (data == 0) {
                                stat = 'In Active';
                            }
                            return stat;
                        }
                    },
                    {
                        "data": "ID_TRANSAKSI", "render": function (data, type, row) {
                            return "<div style='text-align:center;'><a class= 'glyphicon glyphicon-zoom-in btn-info btn-sm' onclick='Menage(\"" + data + "\")'> Details</a></div>";
                        },
                        "orderable": false,
                        "width":"150px"
                    }
                ], "order": [],
                "language": {
                    "emptyTable":"No Data Found, Please click on <b>Create New</b> Button"
                }
            });
        });

        function Menage( id ) {
        var url = '@Url.Action("Details", "PilihSupir", new { id = "__id__" })';
        window.location.href = url.replace('__id__', id);
        }
    </script>
}