﻿@{
    Layout = null;
}


    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Your Driver</h3>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-condensed">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Driver</th>
                </tr>
                @{int no = 1;
                    foreach (var item in ViewData["supp"] as IEnumerable<Tricone.Models.detail_supir>)
                    {
                        <tr>
                            <td>@no</td>
                            <td>@item.NAMA_SUPIR</td>
                        </tr>
                        no++;
                    }
                }
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
