﻿@model Tricone.Models.TBL_WISATA

@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "wisata", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ID_WISATA)
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Province Name<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_PROVINSI)</span>
            @Html.DropDownListFor(Model => Model.ID_PROVINSI, new SelectList((from c in Model.provcollection.ToList() where c.ID_PROVINSI == 11 || c.ID_PROVINSI == 12 || c.ID_PROVINSI == 13 || c.ID_PROVINSI == 14 || c.ID_PROVINSI == 15 || c.ID_PROVINSI == 16 select new { nama_provinsi = c.NAMA_PROVINSI, id_provinsi= c.ID_PROVINSI }), "id_provinsi", "nama_provinsi"), "Select City", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">City Name<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.ID_KOTA)</span>
            @Html.DropDownListFor(Model => Model.ID_KOTA, new SelectList(Model.kotacollection, "ID_KOTA", "NAMA_KOTA"), "Select City", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Destination Name<span style="color:red;"> *</span></label>
            @Html.EditorFor(model => model.NAMA_WISATA, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Destination Name" } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.NAMA_WISATA)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">Description<span style="color:red;"> *</span></label>
            @Html.TextAreaFor(model => model.DESKRIPSI, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Description", cols = 35, @rows = 3 } })
            <span style="color:red;">@Html.ValidationMessageFor(model => model.DESKRIPSI)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="@(Model.ID_WISATA != 0 ? "col-md-8" : "col-md-12")">
            <label class="control-label">Image<span style="color:red;"> *</span></label>
            <span style="color:red;">@Html.ValidationMessageFor(model => model.FOTO_DERSKRIPSI)</span>
            <div class="form-control col-md-12">
                <input type="file" name="filebase" onchange="fileCheck(this);" @(Model.ID_WISATA == 0 ? "required" : "") />
            </div>
        </div>
        @if (Model.ID_WISATA != 0)
        {
            @Html.HiddenFor(model => model.FOTO_DERSKRIPSI)
            <div class="col-md-4" style="margin-top:10px;">
                <img src="@Url.Content("~/images/"+Model.FOTO_DERSKRIPSI)" width="100" height="100" />
            </div>
        }
    </div>
    <div class="form-label-group">
        <div class="container col-sm-12" style="margin-top:10px;">
            <input type="submit" value="submit" class="btn btn-primary" />
            <input type="reset" value="reset" class="btn btn-warning" />
        </div>
    </div>
}

